Repository fast-aircraft-design/FAST-OAD: changes, and which pre-commit hooks are due for each by the changed paths.
All: nbstripout, license-headers-fix

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/python-poetry/poetry
    rev: '2.1.3'
    hooks:
      - id: poetry-check
  - repo: https://github.com/python-poetry/poetry-plugin-export
    rev: '1.9.0'
    hooks:
      - id: poetry-export # Hooks copied from https://python-poetry.org/docs/pre-commit-hooks/#poetry-export
        args: [ "--with", "doc", "--without-hashes", "-o", "docs/requirements.txt", "-f", "requirements.txt" ]
        files: 'poetry.lock'
        verbose: true
  - repo: local
    hooks:
      # Ruff hooks are copied from https://github.com/astral-sh/ruff-pre-commit, but specifying
      # a local repo ensures using locked version of Ruff in Poetry.
      - id: ruff
        name: ruff
        description: "Run 'ruff' for extremely fast Python linting"
        entry: ruff check --force-exclude
        language: python
        types_or: [ python, pyi, jupyter ]
        args: [ ]
        require_serial: true
        additional_dependencies: [ ]
      - id: ruff-format
        name: ruff-format
        description: "Run 'ruff format' for extremely fast Python formatting"
        entry: ruff format --force-exclude
        language: python
        types_or: [ python, pyi, jupyter ]
        args: [ ]
        require_serial: true
        additional_dependencies: [ ]

      - id: nbstripout
        name: nbstripout
        description: 'nbstripout: strip output from Jupyter and IPython notebooks'
        entry: poetry run nbstripout
        language: system
        types: [ jupyter ]
        require_serial: true

      - id: license-headers-fix
        name: License headers (auto-fix)
        entry: python devutils/license-upgrade.py
        language: python
        files: '^(src|tests)/.*\.py$'
        additional_dependencies: 
          - "git+https://github.com/Lucas-C/pre-commit-hooks.git@v1.5.5"
        require_serial: true
      
      - id: license-headers-check  
        name: License headers (check-only)
        entry: python devutils/license-upgrade.py --check
        language: python
        files: '^(src|tests)/.*\.py$'
        stages: [manual]
        additional_dependencies: 
          - "git+https://github.com/Lucas-C/pre-commit-hooks.git@v1.5.5"
        require_serial: true

add pre-commit for licence header check
  .github/workflows/tests.yml
  .pre-commit-config.yaml
  devutils/license-upgrade.py
  license-header.txt
Due: none

ruff is executed after licensing
  .pre-commit-config.yaml
Due: none

add licensing
  devutils/__init__.py
  devutils/license-upgrade.py
  devutils/rename_vars.py
  docs/conf.py
  docs/directives/__init__.py
  docs/directives/segment_attributes.py
Due: none

add devutils and docs in licensed files
  .pre-commit-config.yaml
Due: none

add release
  .pre-commit-config.yaml
  release/_fastoad/__init__.py
Due: none

add .python-version to gitignore
  .gitignore
Due: none

upgrade environment
  poetry.lock
  pyproject.toml
Due: none

python classifiers are automatically hadled by poetry during publishing
  pyproject.toml
Due: none

updated lock file and requirements.txt
  .github/workflows/tests.yml
  .github/workflows/watchman_tests.yml
  docs/requirements.txt
  poetry.lock
Due: none

fixing test __eq__ rewritten as in https://github.com/fast-aircraft-design/FAST-OAD/pull/575/commits/14f2132e36a77a9a114526658ecfc62afdc1403c
  src/fastoad/models/performances/mission/mission_definition/mission_builder/input_definition.py
Due: license-headers-fix

test on memory fix
  .github/workflows/tests.yml
  tests/memory_tests/test_multiple_runs.py
Due: license-headers-fix

Updated CHANGELOG.rst and pyproject.toml package version
  CHANGELOG.rst
  pyproject.toml
Due: none

Added plugin description, guidelines for contributors and ✨
  README.md
Due: none

Update README.md
  README.md
Due: none

Applied code suggestion
  README.md
Due: none

Test now look more at increasing memory than max memory consumed
  .github/workflows/tests.yml
  tests/memory_tests/test_multiple_runs.py
Due: license-headers-fix

Added FAST-UAV
  README.md
Due: none

Added initial, final and average altitude for cruise segment as mission outputs
  src/fastoad/models/performances/mission/openmdao/mission_wrapper.py
  src/fastoad/models/performances/mission/openmdao/tests/test_mission.py
Due: license-headers-fix

Added missing functions to flight_point.py in order to pass the tests
  src/fastoad/model_base/flight_point.py
Due: license-headers-fix

applied review suggestions
  src/fastoad/openmdao/tests/test_variables.py
  src/fastoad/openmdao/variables/variable.py
  src/fastoad/openmdao/variables/variable_list.py
Due: license-headers-fix

Now maximum CL limitation is also effective for cruise segment with optimal_flight_level option for altitude.
  src/fastoad/models/performances/mission/segments/registered/cruise.py
  src/fastoad/models/performances/mission/segments/registered/tests/test_cruise.py
Due: license-headers-fix

Improved test logic. Correct typos
  src/fastoad/models/performances/mission/segments/registered/cruise.py
  src/fastoad/models/performances/mission/segments/registered/tests/test_cruise.py
Due: license-headers-fix

bug fix
  src/fastoad/models/performances/mission/segments/registered/cruise.py
Due: license-headers-fix

Fix Codacy complaining and previous tests
  src/fastoad/models/performances/mission/openmdao/tests/test_mission.py
  src/fastoad/models/performances/mission/segments/registered/cruise.py
Due: license-headers-fix

the clmib before the cruise now has the cruise phase name
  src/fastoad/models/performances/mission/segments/registered/cruise.py
Due: license-headers-fix

some typos
  src/fastoad/models/performances/mission/segments/time_step_base.py
Due: license-headers-fix

now altitude_change takes into account maximum CL
  src/fastoad/models/performances/mission/segments/registered/altitude_change.py
Due: license-headers-fix

removed old commented code
  src/fastoad/model_base/tests/test_atmosphere.py
Due: license-headers-fix

updated the noqa comments
  src/fastoad/models/performances/mission/mission_definition/mission_builder/input_definition.py
  src/fastoad/models/performances/mission/openmdao/tests/test_sizing_mission.py
Due: license-headers-fix

rollback variable test eq
  src/fastoad/openmdao/variables/variable.py
Due: license-headers-fix

rollback wrong commit on ipynb metadata
  src/fastoad/notebooks/02_From_Python_to_FAST-OAD/05_FAST-OAD.ipynb
Due: nbstripout

reimplemented default_val
  src/fastoad/openmdao/variables/variable.py
Due: license-headers-fix

replace iter_count_iter method
  src/fastoad/openmdao/tests/test_problem.py
Due: license-headers-fix

test only 2 successive fast calls
  tests/memory_tests/test_multiple_runs.py
Due: license-headers-fix

fix inconsistent behavior when run_count=2
  tests/memory_tests/test_multiple_runs.py
Due: license-headers-fix

Added BLE set rules
  ruff.toml
  src/fastoad/_utils/resource_management/contents.py
  src/fastoad/io/configuration/configuration.py
  src/fastoad/openmdao/variables/variable.py
Due: license-headers-fix

review fixing
  src/fastoad/gui/analysis_and_plots.py
  src/fastoad/io/xml/tests/test_variable_io_standard.py
  src/fastoad/models/performances/mission/routes.py
  src/fastoad/models/performances/mission/segments/base.py
  src/fastoad/models/performances/mission/segments/registered/altitude_change.py
  src/fastoad/models/performances/mission/segments/registered/cruise.py
  src/fastoad/models/performances/mission/segments/time_step_base.py
Due: license-headers-fix
