Repository fast-aircraft-design/FAST-OAD: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, flake8, sync_doc_requirements, nbstripout

black:
  name: black
  language: system
  entry: black

flake8:
  name: flake8
  language: system
  entry: flake8

sync_doc_requirements:
  name: sync_doc_requirements
  entry: poetry export --dev --without-hashes -o docs/requirements.txt -f requirements.txt
  language: python
  pass_filenames: false

nbstripout:
  name: nbstripout
  description: 'nbstripout: strip output from Jupyter and IPython notebooks'
  entry: nbstripout
  language: python

Renamed second notebook
  src/fastoad/notebooks/02_From_Python_to_FAST-OAD/01_summary.ipynb
  src/fastoad/notebooks/02_From_Python_to_FAST-OAD/02_pure_Python.ipynb
  src/fastoad/notebooks/02_From_Python_to_FAST-OAD/03_scipy.ipynb
  src/fastoad/notebooks/02_From_Python_to_FAST-OAD/04_OpenMDAO.ipynb
  src/fastoad/notebooks/README.md
Due: nbstripout

Changed manner to verify if bounds are nan in optimization viewer
  src/fastoad/gui/optimization_viewer.py
Due: black, flake8

Minor docstring change
  src/fastoad/models/performances/mission/mission_definition/mission_builder/structure_builders.py
Due: black, flake8

Refactored bound update in optimization viewer
  src/fastoad/gui/optimization_viewer.py
Due: black, flake8

Removed taxi-out and takeoff phases from test_mission.yml to use the default ones.
  src/fastoad/models/performances/mission/openmdao/tests/data/test_mission.yml
Due: none

Now allowing to insert only mission name in variable names
  src/fastoad/models/performances/mission/mission_definition/mission_builder/input_definition.py
Due: black, flake8

In test_mission.yml, back to TOW achieved after takeoff
  src/fastoad/models/performances/mission/openmdao/tests/data/test_mission.xml
  src/fastoad/models/performances/mission/openmdao/tests/data/test_mission.yml
  src/fastoad/models/performances/mission/openmdao/tests/test_mission.py
Due: black, flake8

Now default taxi-out & takeoff phases are added if no mass input variable is provided.
  src/fastoad/models/performances/mission/mission_definition/mission_builder/mission_builder.py
  src/fastoad/models/performances/mission/mission_definition/mission_builder/tests/data/mission.yml
  src/fastoad/models/performances/mission/mission_definition/mission_builder/tests/test_mission_builder.py
Due: black, flake8

Updated sphinx doc
  docs/documentation/mission_module/mission_file/mission_file.rst
  docs/documentation/mission_module/mission_file/segments.rst
Due: none

Now mass variable name is really backward-compatible.
  src/fastoad/models/performances/mission/mission_definition/mission_builder/mission_builder.py
  src/fastoad/models/performances/mission/mission_definition/mission_builder/tests/test_mission_builder.py
  src/fastoad/models/performances/mission/openmdao/tests/data/test_mission.xml
  src/fastoad/models/performances/mission/openmdao/tests/test_mission.py
Due: black, flake8

Updated sphinx doc
  docs/requirements.txt
Due: none

A bit of refactoring.
  src/fastoad/models/performances/mission/mission_definition/mission_builder/mission_builder.py
  src/fastoad/models/performances/mission/mission_definition/mission_builder/structure_builders.py
Due: black, flake8

Update changelog.
  CHANGELOG.rst
Due: none

Limited OpenMDAO version to 3.21 to prevent observed problems with current development version.
  poetry.lock
  pyproject.toml
Due: sync_doc_requirements

Tags on indep variables has changed.
  src/fastoad/openmdao/problem.py
  src/fastoad/openmdao/variables/variable_list.py
Due: black, flake8

Back to OpenMDAO 3.10 for dev environment
  poetry.lock
Due: sync_doc_requirements

Minor fixes
  src/fastoad/models/performances/mission/routes.py
  src/fastoad/models/performances/mission/tests/test_routes.py
Due: black, flake8

Refactored routes
  src/fastoad/models/performances/mission/routes.py
Due: black, flake8

Reorganized tests a bit.
  src/fastoad/models/performances/mission/tests/conftest.py
  src/fastoad/models/performances/mission/tests/test_flight_sequence.py
  src/fastoad/models/performances/mission/tests/test_routes.py
Due: black, flake8

No more limitation for OpenMDAO 3.x version.
  poetry.lock
  pyproject.toml
Due: sync_doc_requirements

Fixed Poetry configuration
  poetry.lock
  pyproject.toml
Due: sync_doc_requirements

Removed unused methods in mission builder.
  src/fastoad/models/performances/mission/mission_definition/mission_builder/mission_builder.py
Due: black, flake8

FlightSequence is now a list, instead of having the flight_sequence attribute.
  src/fastoad/models/performances/mission/base.py
  src/fastoad/models/performances/mission/mission_definition/mission_builder/mission_builder.py
  src/fastoad/models/performances/mission/mission_definition/mission_builder/tests/test_mission_builder.py
  src/fastoad/models/performances/mission/routes.py
  src/fastoad/models/performances/mission/tests/test_flight_sequence.py
Due: black, flake8

takeoff duration has now a default value in bundled missions.
  src/fastoad/models/performances/mission/openmdao/resources/sizing_breguet.yml
  src/fastoad/models/performances/mission/openmdao/resources/sizing_mission.yml
  src/fastoad/models/performances/mission/openmdao/tests/test_sizing_breguet.py
  src/fastoad/models/performances/mission/openmdao/tests/test_sizing_mission.py
Due: black, flake8

Updated CHANGELOG.rst
  CHANGELOG.rst
Due: none

Deprecated 'compute_TOW' option in OpenMDAO mission module.
  src/fastoad/models/performances/mission/openmdao/mission.py
Due: black, flake8

Added Mission class.
  src/fastoad/models/performances/mission/mission.py
  src/fastoad/models/performances/mission/openmdao/mission.py
  src/fastoad/models/performances/mission/openmdao/tests/test_mission.py
  src/fastoad/models/performances/mission/openmdao/tests/test_sizing_breguet.py
  src/fastoad/models/performances/mission/openmdao/tests/test_sizing_mission.py
  src/fastoad/models/performances/mission/routes.py
  src/fastoad/models/performances/mission/tests/conftest.py
  src/fastoad/models/performances/mission/tests/test_mission.py
Due: black, flake8

Added reserve computation in Mission class.
  src/fastoad/models/performances/mission/mission.py
Due: black, flake8

Added fuel objective in mission definition file.
  src/fastoad/models/performances/mission/mission_definition/mission_builder/mission_builder.py
  src/fastoad/models/performances/mission/mission_definition/mission_builder/tests/data/mission.yml
  src/fastoad/models/performances/mission/mission_definition/mission_builder/tests/test_mission_builder.py
  src/fastoad/models/performances/mission/mission_definition/resources/mission_schema.json
Due: black, flake8

Updated Sphinx documentation.
  docs/documentation/mission_module/mission_file/mission_file.rst
Due: none

Added reserve computation in OpenMDAO Mission module.
  src/fastoad/models/performances/mission/openmdao/mission_component.py
  src/fastoad/models/performances/mission/openmdao/mission_wrapper.py
  src/fastoad/models/performances/mission/openmdao/tests/data/test_mission.xml
  src/fastoad/models/performances/mission/openmdao/tests/data/test_mission.yml
  src/fastoad/models/performances/mission/openmdao/tests/test_mission.py
Due: black, flake8

Now can directly set block fuel as target consumed fuel.
  src/fastoad/models/performances/mission/mission_definition/mission_builder/structure_builders.py
  src/fastoad/models/performances/mission/mission_definition/mission_builder/tests/data/mission.yml
  src/fastoad/models/performances/mission/mission_definition/mission_builder/tests/test_mission_builder.py
  src/fastoad/models/performances/mission/mission_definition/resources/mission_schema.json
Due: black, flake8

Added reserve computation in Mission class.
  src/fastoad/models/performances/mission/base.py
  src/fastoad/models/performances/mission/mission.py
  src/fastoad/models/performances/mission/mission_definition/mission_builder/mission_builder.py
  src/fastoad/models/performances/mission/openmdao/mission_component.py
  src/fastoad/models/performances/mission/tests/test_mission.py
Due: black, flake8

Minor change.
  src/fastoad/models/performances/mission/mission.py
Due: black, flake8

Linted.
  src/fastoad/models/performances/mission/base.py
  src/fastoad/models/performances/mission/mission.py
  src/fastoad/models/performances/mission/routes.py
Due: black, flake8

Added warning for nan values when generating inputs
  src/fastoad/io/configuration/configuration.py
Due: black, flake8

Changed logger class used for warning
  src/fastoad/io/configuration/configuration.py
Due: black, flake8

Added test for nan warning in for generate_inputs
  src/fastoad/io/configuration/tests/data/ref_inputs_with_nan.xml
  src/fastoad/io/configuration/tests/test_configuration.py
Due: black, flake8

Path conditions:
  black: any of: \.py$
  flake8: any of: \.py$
  sync_doc_requirements: any of: poetry.lock
  nbstripout: any of: \.ipynb$
