Repository fast-aircraft-design/FAST-OAD: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, flake8, sync_doc_requirements

black:
  name: black
  language: system
  entry: black

flake8:
  name: flake8
  language: system
  entry: flake8

sync_doc_requirements:
  name: sync_doc_requirements
  entry: poetry export --dev --without-hashes -o docs/requirements.txt -f requirements.txt
  language: python
  pass_filenames: false

Updated numpy to 1.21+ for security fix
  docs/requirements.txt
  poetry.lock
  pyproject.toml
Due: sync_doc_requirements

Fixed "fastoad -v"
  src/fastoad/__init__.py
Due: black, flake8

GitHub workflows: notebooks are now always tested.
  .github/workflows/tests.yml
  .github/workflows/watchman_tests.yml
Due: none

Build workflows now syncs versions of FAST-OAD and FAST-OAD-core.
  .github/workflows/build_release.yml
Due: none

Unpinned dependency to FAST-OAD-CS25.
  docs/requirements.txt
  poetry.lock
  pyproject.toml
  release/pyproject.toml
Due: sync_doc_requirements

Removed usage of deprecated VariableList.from_unconnected_inputs() in _utils.testing.run_system()
  src/fastoad/_utils/testing.py
Due: black, flake8

Removed usage of np.asscalar().
  src/fastoad/models/performances/mission/openmdao/mission.py
Due: black, flake8

Updated CHANGELOG.rst
  CHANGELOG.rst
Due: none

Fixed typo
  CHANGELOG.rst
Due: none

Updated README.md to mention issue #425.
  README.md
Due: none

Update build workflow.
  .github/workflows/build_release.yml
Due: none

Updating the notebooks
  src/fastoad/notebooks/02_explanation/.gitignore
  src/fastoad/notebooks/02_explanation/01_summary.ipynb
  src/fastoad/notebooks/02_explanation/02_pure_python.ipynb
  src/fastoad/notebooks/02_explanation/03_scipy.ipynb
  src/fastoad/notebooks/02_explanation/04_OpenMDAO.ipynb
  src/fastoad/notebooks/02_explanation/05_FAST-OAD.ipynb
  src/fastoad/notebooks/02_explanation/modules/OpenMDAO/mass/sub_components/correction/compute_owe.py
  src/fastoad/notebooks/02_explanation/modules/pure_python/mass/mass.py
Due: black, flake8

Fixed set_val() compatibility.
  src/fastoad/openmdao/problem.py
Due: black, flake8

Updated change log
  CHANGELOG.rst
Due: none

Fixed test for FASTOADProblem.write_outputs()
  src/fastoad/openmdao/tests/test_problem.py
Due: black, flake8

Updated watchman tests.
  .github/workflows/watchman_tests.yml
Due: none

Can now set target mass for taxi segment.
  src/fastoad/models/performances/mission/segments/taxi.py
  src/fastoad/models/performances/mission/segments/tests/test_taxi.py
Due: black, flake8

Added FlightPoint method to provide field names.
  src/fastoad/model_base/flight_point.py
Due: black, flake8

Now segment tests are run twice to ensure reproducibility.
  src/fastoad/models/performances/mission/segments/tests/test_altitude_change.py
  src/fastoad/models/performances/mission/segments/tests/test_cruise.py
  src/fastoad/models/performances/mission/segments/tests/test_hold.py
  src/fastoad/models/performances/mission/segments/tests/test_speed_change.py
  src/fastoad/models/performances/mission/segments/tests/test_start.py
  src/fastoad/models/performances/mission/segments/tests/test_taxi.py
  src/fastoad/models/performances/mission/segments/tests/test_transition.py
Due: black, flake8

Changed unit definition mechanism.
  src/fastoad/models/performances/mission/mission_definition/mission_builder.py
  src/fastoad/models/performances/mission/segments/base.py
  src/fastoad/models/performances/mission/segments/cruise.py
  src/fastoad/models/performances/mission/segments/taxi.py
  src/fastoad/models/performances/mission/segments/transition.py
Due: black, flake8

Fixed test_non_regression_breguet()
  src/fastoad/models/performances/mission/openmdao/mission_wrapper.py
Due: black, flake8

Changed ref values for tests involving routes.
  src/fastoad/models/performances/mission/openmdao/resources/sizing_mission.yml
  src/fastoad/models/performances/mission/openmdao/tests/test_mission.py
  src/fastoad/models/performances/mission/openmdao/tests/test_sizing_mission.py
Due: black, flake8

Can now define target fields as "delta".
  src/fastoad/models/performances/mission/mission_definition/mission_builder.py
  src/fastoad/models/performances/mission/mission_definition/tests/data/mission.yml
  src/fastoad/models/performances/mission/mission_definition/tests/test_mission_builder.py
  src/fastoad/models/performances/mission/openmdao/resources/sizing_breguet.yml
  src/fastoad/models/performances/mission/openmdao/resources/sizing_mission.yml
  src/fastoad/models/performances/mission/routes.py
  src/fastoad/models/performances/mission/segments/base.py
  src/fastoad/models/performances/mission/segments/cruise.py
  src/fastoad/models/performances/mission/segments/hold.py
  src/fastoad/models/performances/mission/segments/transition.py
Due: black, flake8

Added segments for start and dummy takeoff
  src/fastoad/model_base/flight_point.py
  src/fastoad/models/performances/mission/segments/start.py
  src/fastoad/models/performances/mission/segments/tests/test_start.py
  src/fastoad/models/performances/mission/segments/tests/test_transition.py
  src/fastoad/models/performances/mission/segments/transition.py
Due: black, flake8

Taxi out and takeoff now in mission definition file
  src/fastoad/models/performances/mission/mission_definition/mission_builder.py
  src/fastoad/models/performances/mission/openmdao/mission.py
  src/fastoad/models/performances/mission/openmdao/mission_wrapper.py
  src/fastoad/models/performances/mission/openmdao/resources/sizing_breguet.yml
  src/fastoad/models/performances/mission/openmdao/resources/sizing_mission.yml
  src/fastoad/models/performances/mission/openmdao/tests/data/test_breguet.yml
  src/fastoad/models/performances/mission/openmdao/tests/data/test_mission.xml
  src/fastoad/models/performances/mission/openmdao/tests/data/test_mission.yml
  src/fastoad/models/performances/mission/openmdao/tests/test_mission.py
  src/fastoad/models/performances/mission/openmdao/tests/test_sizing_mission.py
Due: black, flake8

Now allowing minus sign before variables in mission definition file.
  src/fastoad/models/performances/mission/mission_definition/mission_builder.py
  src/fastoad/models/performances/mission/openmdao/resources/sizing_breguet.yml
  src/fastoad/models/performances/mission/openmdao/resources/sizing_mission.yml
  src/fastoad/models/performances/mission/openmdao/tests/data/test_breguet.yml
  src/fastoad/models/performances/mission/openmdao/tests/data/test_mission.xml
  src/fastoad/models/performances/mission/openmdao/tests/data/test_mission.yml
  src/fastoad/models/performances/mission/openmdao/tests/test_sizing_mission.py
Due: black, flake8

Better way to handle relative target fields.
  src/fastoad/models/performances/mission/mission_definition/mission_builder.py
  src/fastoad/models/performances/mission/openmdao/mission.py
  src/fastoad/models/performances/mission/routes.py
  src/fastoad/models/performances/mission/segments/base.py
  src/fastoad/models/performances/mission/segments/cruise.py
  src/fastoad/models/performances/mission/segments/tests/test_cruise.py
  src/fastoad/models/performances/mission/segments/tests/test_transition.py
  src/fastoad/models/performances/mission/segments/transition.py
Due: black, flake8

Notion of relative parameters is now implemented in FlightPoint.
  src/fastoad/model_base/flight_point.py
Due: black, flake8

Fixed test_non_regression_mission()
  src/fastoad/models/performances/mission/openmdao/resources/sizing_breguet.yml
  src/fastoad/models/performances/mission/openmdao/resources/sizing_mission.yml
  src/fastoad/models/performances/mission/openmdao/tests/test_sizing_breguet.py
  src/fastoad/models/performances/mission/openmdao/tests/test_sizing_mission.py
  tests/integration_tests/oad_process/data/CeRAS01_legacy_mission_only_result.xml
Due: black, flake8

Fixed test_non_regression_mission_only()
  tests/integration_tests/oad_process/data/CeRAS01_legacy_mission_only_result.xml
Due: none

Unified dummy takeoff and dummy transition segments
  src/fastoad/models/performances/mission/segments/tests/test_transition.py
  src/fastoad/models/performances/mission/segments/transition.py
Due: black, flake8

Fixed api_eval_*()
  tests/integration_tests/oad_process/data/CeRAS01_notebooks.xml
Due: none

Now aircraft mass is TOW before takeoff, not after
  src/fastoad/models/performances/mission/openmdao/mission.py
  src/fastoad/models/performances/mission/openmdao/tests/test_mission.py
  src/fastoad/models/performances/mission/openmdao/tests/test_sizing_mission.py
  tests/integration_tests/oad_process/test_oad_process.py
Due: black, flake8

set_input_defaults() could be needed for TOW variable
  src/fastoad/models/performances/mission/openmdao/mission.py
Due: black, flake8

Accuracy for route global distance can now be set in mission definition file.
  src/fastoad/models/performances/mission/mission_definition/mission_builder.py
  src/fastoad/models/performances/mission/mission_definition/resources/mission_schema.json
  src/fastoad/models/performances/mission/mission_definition/tests/data/mission.yml
  src/fastoad/models/performances/mission/mission_definition/tests/test_schema.py
  src/fastoad/models/performances/mission/routes.py
Due: black, flake8

Now ensuring that FlightSegment.target is always "scalarized" after being set.
  src/fastoad/models/performances/mission/segments/base.py
Due: black, flake8

Fixed ClimbAndCruiseSegment.
  src/fastoad/models/performances/mission/segments/cruise.py
Due: black, flake8

Adapted dummy takeoff segment to handle "delta" target values.
  src/fastoad/models/performances/mission/segments/tests/test_transition.py
  src/fastoad/models/performances/mission/segments/transition.py
Due: black, flake8

Completed tests for MissionBuilder
  src/fastoad/models/performances/mission/mission_definition/schema.py
  src/fastoad/models/performances/mission/mission_definition/tests/data/mission.yml
  src/fastoad/models/performances/mission/mission_definition/tests/test_mission_builder.py
Due: black, flake8

Path conditions:
  black: any of: \.py$
  flake8: any of: \.py$
  sync_doc_requirements: any of: poetry.lock
