Repository fast-aircraft-design/FAST-OAD: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, flake8, sync_doc_requirements, nbstripout

black:
  name: black
  language: system
  entry: black

flake8:
  name: flake8
  language: system
  entry: flake8

sync_doc_requirements:
  name: sync_doc_requirements
  entry: poetry export --with doc --without-hashes -o docs/requirements.txt -f requirements.txt
  language: system
  pass_filenames: false

nbstripout:
  name: nbstripout
  description: 'nbstripout: strip output from Jupyter and IPython notebooks'
  entry: nbstripout
  language: system

FASTOADProblem.write_needed_inputs() can now write output variables.
  src/fastoad/openmdao/problem.py
  src/fastoad/openmdao/tests/data/ref_inputs_outputs.xml
  src/fastoad/openmdao/tests/test_problem.py
Due: black, flake8

Now CLI gen_inputs allows to include output variables.
  src/fastoad/cmd/cli.py
Due: black, flake8

Minor refactoring
  src/fastoad/openmdao/variables/variable_list.py
Due: black, flake8

Now api.generate_inputs() allows to include output variables.
  src/fastoad/cmd/api.py
  src/fastoad/cmd/tests/data/inputs.xml
  src/fastoad/cmd/tests/test_api.py
  src/fastoad/io/configuration/configuration.py
  src/fastoad/openmdao/problem.py
Due: black, flake8

Fix for compatibility with OpenMDAO 3.34
  src/fastoad/openmdao/_utils.py
Due: black, flake8

run_system() now accepts VariableList as input
  src/fastoad/models/performances/mission/openmdao/tests/test_mission.py
  src/fastoad/openmdao/variables/variable_list.py
  src/fastoad/testing.py
Due: black, flake8

Now using BaseCycleGroup
  src/fastoad/testing.py
Due: black, flake8

Moved run_system() function
  src/fastoad/models/performances/mission/openmdao/tests/test_mission.py
  src/fastoad/models/performances/mission/openmdao/tests/test_mission_run.py
  src/fastoad/models/performances/mission/openmdao/tests/test_mission_takeoff.py
  src/fastoad/models/performances/mission/openmdao/tests/test_payload_range.py
  src/fastoad/models/performances/mission/openmdao/tests/test_sizing_breguet.py
  src/fastoad/models/performances/mission/openmdao/tests/test_sizing_mission.py
  src/fastoad/models/performances/mission/openmdao/tests/test_with_custom_segment.py
  src/fastoad/testing.py
Due: black, flake8

Fixed issue 534
  src/fastoad/gui/mission_viewer.py
  src/fastoad/gui/tests/data/flight_points_disorganised.csv
  src/fastoad/gui/tests/data/flight_points_disorganised_missing_column.csv
  src/fastoad/gui/tests/test_mission_viewer.py
Due: black, flake8

Minor documentation update
  docs/documentation/install.rst
Due: none

Right column name
  src/fastoad/gui/mission_viewer.py
  src/fastoad/gui/tests/data/flight_points.csv
  src/fastoad/gui/tests/data/flight_points_disorganised.csv
  src/fastoad/gui/tests/data/flight_points_disorganised_missing_column.csv
  src/fastoad/gui/tests/test_mission_viewer.py
Due: black, flake8

Refactoring
  src/fastoad/gui/mission_viewer.py
Due: black, flake8

Updates CHANGELOG.rst
  CHANGELOG.rst
Due: none

Fix for array variables
  src/fastoad/openmdao/validity_checker.py
Due: black, flake8

Testing ValidityDomainChecker for array variable.
  src/fastoad/openmdao/tests/openmdao_sellar_example/disc1.py
  src/fastoad/openmdao/tests/test_validity_checker.py
Due: black, flake8

Update of StdAtm
  docs/requirements.txt
  poetry.lock
  pyproject.toml
Due: sync_doc_requirements

Update test tools
  poetry.lock
  pyproject.toml
Due: sync_doc_requirements

Added compatibility with Pandas 2.*
  docs/requirements.txt
  poetry.lock
  pyproject.toml
  src/fastoad/cmd/api.py
  src/fastoad/gui/tests/test_variable_viewer.py
Due: black, flake8, sync_doc_requirements

Added compatibility with lxml 5.*
  poetry.lock
  pyproject.toml
Due: sync_doc_requirements

Added compatibility with Python 3.11
  .github/workflows/tests.yml
  .github/workflows/watchman_tests.yml
  docs/requirements.txt
  poetry.lock
  pyproject.toml
  src/fastoad/models/performances/mission/segments/time_step_base.py
Due: black, flake8, sync_doc_requirements

Compatibility with numpy 2.*
  docs/requirements.txt
  poetry.lock
  pyproject.toml
Due: sync_doc_requirements

Minor change in watchman test workflow
  .github/workflows/watchman_tests.yml
Due: none

Now using ruff instead of black, flake8 and pylint
  .github/workflows/tests.yml
  .pre-commit-config.yaml
  poetry.lock
  pyproject.toml
Due: sync_doc_requirements

Fixed existing test.
  src/fastoad/openmdao/tests/test_problem.py
Due: black, flake8

Now correct assessment of NaN values after input reading.
  src/fastoad/openmdao/exceptions.py
  src/fastoad/openmdao/problem.py
  src/fastoad/openmdao/tests/test_problem.py
Due: black, flake8

Added test for missing inputs with nan default values.
  src/fastoad/openmdao/tests/data/missing_inputs.xml
  src/fastoad/openmdao/tests/openmdao_sellar_example/disc1.py
  src/fastoad/openmdao/tests/openmdao_sellar_example/disc2.py
  src/fastoad/openmdao/tests/test_problem.py
Due: black, flake8

Updated README.md
  README.md
Due: none

Optimized imports
  src/fastoad/_utils/sellar/function_f.py
  src/fastoad/gui/optimization_viewer.py
  src/fastoad/io/configuration/tests/data/conf_sellar_example/functions.py
  src/fastoad/notebooks/02_From_Python_to_FAST-OAD/modules/pure_python/aerodynamics/aerodynamics.py
  src/fastoad/notebooks/02_From_Python_to_FAST-OAD/modules/pure_python/mass/mass.py
  src/fastoad/notebooks/02_From_Python_to_FAST-OAD/modules/pure_python/mtow_and_fuel_loop.py
  src/fastoad/notebooks/02_From_Python_to_FAST-OAD/modules/pure_python/mtow_loop.py
  src/fastoad/notebooks/02_From_Python_to_FAST-OAD/modules/python_for_scipy/compute_fuel_scipy.py
  src/fastoad/notebooks/02_From_Python_to_FAST-OAD/modules/python_for_scipy/mtow_loop_scipy.py
Due: black, flake8

Applied ruff rules
  src/fastoad/cmd/tests/test_cli.py
  src/fastoad/gui/__init__.py
  src/fastoad/gui/tests/test_analysis_and_plots.py
  src/fastoad/io/__init__.py
  src/fastoad/io/configuration/__init__.py
  src/fastoad/io/configuration/tests/test_configuration.py
  src/fastoad/io/xml/__init__.py
  src/fastoad/model_base/__init__.py
  src/fastoad/model_base/tests/test_atmosphere.py
  src/fastoad/model_base/tests/test_flight_point.py
  src/fastoad/models/performances/mission/openmdao/tests/test_mission.py
  src/fastoad/models/performances/mission/openmdao/tests/test_mission_takeoff.py
  src/fastoad/models/performances/mission/openmdao/tests/test_with_custom_segment.py
  src/fastoad/models/performances/mission/tests/conftest.py
  src/fastoad/module_management/tests/test_bundle_loader.py
  src/fastoad/module_management/tests/test_plugins.py
  src/fastoad/module_management/tests/test_register_specialized_service.py
  src/fastoad/notebooks/01_Quick_start/modules/section_properties.py
  src/fastoad/notebooks/01_Quick_start/modules/weight.py
  src/fastoad/openmdao/tests/test_variables.py
  src/fastoad/openmdao/validity_checker.py
  src/fastoad/openmdao/variables/__init__.py
Due: black, flake8

Fixed coverage reports
  .github/workflows/tests.yml
Due: none

Fixed signature (was missing PathLike)
  src/fastoad/openmdao/problem.py
Due: black, flake8

Actual reading of input file is now done only in read_inputs()
  src/fastoad/gui/tests/data/inputs.xml
  src/fastoad/io/variable_io.py
  src/fastoad/openmdao/problem.py
Due: black, flake8

Added test for setting output values before computation.
  src/fastoad/openmdao/tests/data/ref_inputs_outputs.xml
  src/fastoad/openmdao/tests/test_problem.py
Due: black, flake8

Now output values can be set before computation.
  src/fastoad/io/configuration/tests/data/ref_inputs.xml
  src/fastoad/openmdao/problem.py
Due: black, flake8

Updated VariableList.update()
  src/fastoad/openmdao/tests/test_variables.py
  src/fastoad/openmdao/variables/variable_list.py
Due: black, flake8

Path conditions:
  black: any of: \.py$
  flake8: any of: \.py$
  sync_doc_requirements: any of: poetry.lock
  nbstripout: any of: \.ipynb$
