Repository fast-aircraft-design/FAST-OAD: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, flake8, sync_doc_requirements, nbstripout

black:
  name: black
  language: system
  entry: poetry run black

flake8:
  name: flake8
  language: system
  entry: poetry run flake8

sync_doc_requirements:
  name: sync_doc_requirements
  entry: poetry export --with doc --without-hashes -o docs/requirements.txt -f requirements.txt
  language: system
  pass_filenames: false

nbstripout:
  name: nbstripout
  description: 'nbstripout: strip output from Jupyter and IPython notebooks'
  entry: nbstripout
  language: system

WIP
  docs/directives/segment_attributes.py
  docs/documentation/mission_module/mission_file/segments.rst
Due: black, flake8

WIP
  docs/directives/segment_attributes.py
Due: black, flake8

Doc update
  docs/documentation/mission_module/mission_file/segments.rst
Due: none

Modified the links to pull requests (will now work in any markdown visualisation)
  CHANGELOG.rst
Due: none

Updated CHANGELOG.rst
  CHANGELOG.rst
Due: none

Added Sphinx directives to kink segments and parameters.
  docs/conf.py
  docs/directives/__init__.py
  docs/directives/segment_attributes.py
  docs/documentation/mission_module/mission_file/mission_file.rst
  docs/documentation/mission_module/mission_file/segments.rst
Due: black, flake8

Added Sphinx directives to kink segments and parameters.
  docs/_static/custom_admonitions.css
  docs/conf.py
  docs/directives/segment_attributes.py
Due: black, flake8

Updated Sphinx configuration.
  docs/conf.py
Due: black, flake8

DOEVariable and DOEConfig add + start of tests
  docs/requirements.txt
  poetry.lock
  pyproject.toml
  src/fastoad/cmd/doe.py
  src/fastoad/cmd/tests/test_doe.py
Due: black, flake8, sync_doc_requirements

[skip ci] Removed the Random sampling method
  src/fastoad/cmd/doe.py
  src/fastoad/cmd/tests/test_doe.py
Due: black, flake8

Fixes
  docs/_static/custom_admonitions.css
  docs/directives/segment_attributes.py
Due: black, flake8

Updated test and added doe output in csv
  src/fastoad/cmd/doe.py
  src/fastoad/cmd/tests/test_doe.py
Due: black, flake8

Fixed paths
  src/fastoad/cmd/doe.py
Due: black, flake8

A phase can now contain a route.
  src/fastoad/models/performances/mission/mission.py
  src/fastoad/models/performances/mission/mission_definition/mission_builder/mission_builder.py
  src/fastoad/models/performances/mission/mission_definition/mission_builder/structure_builders.py
  src/fastoad/models/performances/mission/mission_definition/resources/mission_schema.json
  src/fastoad/models/performances/mission/mission_definition/schema.py
  src/fastoad/models/performances/mission/openmdao/tests/data/test_mission.xml
  src/fastoad/models/performances/mission/openmdao/tests/data/test_mission.yml
  src/fastoad/models/performances/mission/openmdao/tests/test_mission.py
Due: black, flake8

Some more comments
  src/fastoad/models/performances/mission/mission_definition/mission_builder/structure_builders.py
Due: black, flake8

A mission part can now be repeated.
  src/fastoad/models/performances/mission/mission_definition/mission_builder/structure_builders.py
  src/fastoad/models/performances/mission/mission_definition/resources/mission_schema.json
  src/fastoad/models/performances/mission/mission_definition/schema.py
  src/fastoad/models/performances/mission/openmdao/tests/data/test_breguet.yml
  src/fastoad/models/performances/mission/openmdao/tests/data/test_mission.xml
  src/fastoad/models/performances/mission/openmdao/tests/test_mission.py
  src/fastoad/models/performances/mission/openmdao/tests/test_with_custom_segment.py
Due: black, flake8

Add Github pull request template
  .github/PULL_REQUEST_TEMPLATE.md
Due: none

update template with link
  .github/PULL_REQUEST_TEMPLATE.md
Due: none

shorten doc link
  .github/PULL_REQUEST_TEMPLATE.md
Due: none

[skip ci] The wiki is now a link
  .github/PULL_REQUEST_TEMPLATE.md
Due: none

[skip ci] no need for tinyurl anymore
  .github/PULL_REQUEST_TEMPLATE.md
Due: none

Enance VS code pre-commit compatibility
  .pre-commit-config.yaml
Due: none

Add link for doc suggestion
  .github/PULL_REQUEST_TEMPLATE.md
Due: none

Remove combining imports and better commenting in github actions
  .github/workflows/tests.yml
  pyproject.toml
Due: none

New github Pull Request template (#585)
  .github/PULL_REQUEST_TEMPLATE.md
Due: none

reformatting api.py
  .codacy.yml
  src/fastoad/api.py
Due: black, flake8

Remove codecov token in plain text
  .github/workflows/tests.yml
Due: none

Minor fixes
  docs/conf.py
Due: black, flake8

Remove codecov token in plain text (#591)
  .github/workflows/tests.yml
Due: none

Modified comments
  docs/directives/segment_attributes.py
Due: black, flake8

Now target is listed among special parameters in Sphinx doc
  docs/documentation/mission_module/mission_file/segments.rst
Due: none

Modified tests to avoid test segments to be listed in Sphinx doc.
  src/fastoad/models/performances/mission/base.py
  src/fastoad/models/performances/mission/mission_definition/mission_builder/tests/test_mission_builder.py
  src/fastoad/models/performances/mission/openmdao/tests/test_with_custom_segment.py
Due: black, flake8

Improved code readibility and robustness
  docs/requirements.txt
  poetry.lock
  pyproject.toml
  src/fastoad/cmd/doe.py
  src/fastoad/cmd/tests/test_doe.py
Due: black, flake8, sync_doc_requirements

Logic of dataclass reworked and tests updated
  src/fastoad/cmd/doe.py
  src/fastoad/cmd/tests/test_doe.py
Due: black, flake8

Enhanced documentation for mission segment parameters (#582)
  docs/_static/custom_admonitions.css
  docs/conf.py
  docs/directives/__init__.py
  docs/directives/segment_attributes.py
  docs/documentation/mission_module/mission_file/mission_file.rst
  docs/documentation/mission_module/mission_file/segments.rst
  src/fastoad/models/performances/mission/base.py
  src/fastoad/models/performances/mission/mission_definition/mission_builder/tests/test_mission_builder.py
  src/fastoad/models/performances/mission/openmdao/tests/test_with_custom_segment.py
Due: black, flake8

Solved codacy issues
  src/fastoad/cmd/doe.py
Due: black, flake8

Additional linting and formatting errors
  src/fastoad/cmd/doe.py
  src/fastoad/cmd/tests/test_doe.py
Due: black, flake8

Path conditions:
  black: any of: \.py$
  flake8: any of: \.py$
  sync_doc_requirements: any of: poetry.lock
  nbstripout: any of: \.ipynb$
