Repository fast-aircraft-design/FAST-OAD: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, flake8, sync_doc_requirements

black:
  name: black
  language: system
  entry: black

flake8:
  name: flake8
  language: system
  entry: flake8

sync_doc_requirements:
  name: sync_doc_requirements
  entry: poetry export --dev --without-hashes -o docs/requirements.txt -f requirements.txt
  language: python
  pass_filenames: false

Update payload_range_notebook.ipynb
  src/fastoad/gui/payload_range/payload_range_notebook.ipynb
Due: none

Create payload_big_run.ipynb
  src/fastoad/gui/payload_range/payload_big_run.ipynb
Due: none

Remarks highlighting
  src/fastoad/notebooks/02_explanation/04_OpenMDAO.ipynb
Due: none

black .
  src/fastoad/gui/payload_range/payload_range_file.py
  src/fastoad/gui/payload_range/payload_range_notebook.ipynb
Due: black, flake8

Delete flaps_and_slats_test-checkpoint.ipynb
  src/fastoad/gui/flaps_and_slats/.ipynb_checkpoints/flaps_and_slats_test-checkpoint.ipynb
Due: none

Practical exercise change
  src/fastoad/notebooks/02_explanation/04_OpenMDAO.ipynb
  src/fastoad/notebooks/02_explanation/modules/OpenMDAO/mass/mass.py
  src/fastoad/notebooks/02_explanation/modules/OpenMDAO/mass/sub_components/compute_owe_exercise.py
  src/fastoad/notebooks/02_explanation/modules/OpenMDAO/mass/sub_components/correction/__init__.py
  src/fastoad/notebooks/02_explanation/modules/OpenMDAO/mass/sub_components/correction/compute_owe.py
  src/fastoad/notebooks/02_explanation/modules/OpenMDAO/mtow_loop.py
  src/fastoad/notebooks/02_explanation/modules/widget.py
Due: black, flake8

Formatting
  src/fastoad/notebooks/02_explanation/04_OpenMDAO.ipynb
  src/fastoad/notebooks/02_explanation/modules/OpenMDAO/mass/mass.py
  src/fastoad/notebooks/02_explanation/modules/widget.py
Due: black, flake8

Cleared outputs
  src/fastoad/gui/payload_range/payload_range_notebook.ipynb
Due: none

Solving merge issue
  src/fastoad/api.py
  src/fastoad/gui/analysis_and_plots.py
  src/fastoad/gui/flaps_and_slats/flaps_and_slats_test.ipynb
Due: black, flake8

Delete payload_range_notebook.ipynb
  src/fastoad/gui/available_power_diagram/payload_range_notebook.ipynb
Due: none

Update 04_OpenMDAO.ipynb
  src/fastoad/notebooks/02_explanation/04_OpenMDAO.ipynb
Due: none

Working Folder now visible by git
  src/fastoad/notebooks/02_explanation/working_folder/MDA_discipline/mda_discipline.yml
  src/fastoad/notebooks/02_explanation/working_folder/MDA_global_group/mda_global_group.yml
  src/fastoad/notebooks/02_explanation/working_folder/MDO_MTOW/mdo_mtow.yml
Due: none

Work folder now working
  src/fastoad/notebooks/02_explanation/04_OpenMDAO.ipynb
  src/fastoad/notebooks/02_explanation/05_FAST-OAD.ipynb
Due: none

Name correction for pictures
  src/fastoad/notebooks/02_explanation/04_OpenMDAO.ipynb
Due: none

Typos correction
  src/fastoad/notebooks/02_explanation/01_summary.ipynb
  src/fastoad/notebooks/02_explanation/02_pure_python.ipynb
  src/fastoad/notebooks/02_explanation/03_scipy.ipynb
  src/fastoad/notebooks/02_explanation/04_OpenMDAO.ipynb
Due: none

Change point B
  src/fastoad/gui/payload_range/data/big_results.txt
  src/fastoad/gui/payload_range/data/loop_results.txt
  src/fastoad/gui/payload_range/payload_range_file.py
  src/fastoad/gui/payload_range/payload_range_notebook.ipynb
  src/fastoad/gui/payload_range/workdir/problem_outputs.xml
Due: black, flake8

Import stdatm for Atmosphere
  src/fastoad/gui/payload_range/payload_range_file.py
  src/fastoad/gui/payload_range/payload_range_notebook.ipynb
Due: black, flake8

Initial commit drag distribution
  src/fastoad/api.py
  src/fastoad/gui/analysis_and_plots.py
  src/fastoad/gui/drag_distribution/__init__.py
  src/fastoad/gui/drag_distribution/data/problem_outputs.xml
  src/fastoad/gui/drag_distribution/drag_distribution_file.py
  src/fastoad/gui/drag_distribution/drag_distribution_notebook.ipynb
Due: black, flake8

Replaced matplotlib
  src/fastoad/notebooks/02_explanation/02_pure_python.ipynb
  src/fastoad/notebooks/02_explanation/03_scipy.ipynb
Due: none

basic drag distribution
  src/fastoad/api.py
  src/fastoad/gui/drag_distribution/drag_distribution_file.py
  src/fastoad/gui/drag_distribution/drag_distribution_notebook.ipynb
  src/fastoad/gui/payload_range/payload_range_file.py
  src/fastoad/gui/payload_range/payload_range_notebook.ipynb
Due: black, flake8

Integration of payload range
  src/fastoad/gui/payload_range/data/loop_results.txt
  src/fastoad/gui/payload_range/payload_range_file.py
  src/fastoad/gui/payload_range/payload_range_notebook.ipynb
  src/fastoad/gui/payload_range/workdir/oad_sizing_out.xml
Due: black, flake8

first sub system
  src/fastoad/gui/drag_distribution/drag_distribution_file.py
  src/fastoad/gui/drag_distribution/drag_distribution_notebook.ipynb
Due: black, flake8

add 4 contributions todag
  src/fastoad/gui/drag_distribution/data/problem_outputs.xml
  src/fastoad/gui/drag_distribution/drag_distribution_file.py
  src/fastoad/gui/payload_range/data/MTOW_mission_results.txt
Due: black, flake8

Create MTOW_mission_results.txt
  src/fastoad/gui/payload_range/data/MTOW_mission_results.txt
Due: none

basic low speed aero
  src/fastoad/gui/drag_distribution/drag_distribution_file.py
  src/fastoad/gui/drag_distribution/drag_distribution_notebook.ipynb
  src/fastoad/gui/payload_range/workdir/oad_sizing_out.xml
Due: black, flake8

Module for model
  src/fastoad/notebooks/02_explanation/01_summary.ipynb
Due: none

Wording
  src/fastoad/notebooks/02_explanation/01_summary.ipynb
Due: none

Changes widget
  src/fastoad/notebooks/02_explanation/modules/widget.py
Due: black, flake8

minor changes payload range
  src/fastoad/gui/payload_range/payload_range_file.py
  src/fastoad/gui/payload_range/workdir/oad_low_range_sizing_out.xml
Due: black, flake8

cd_distribution_end
  src/fastoad/gui/drag_distribution/drag_distribution_file.py
  src/fastoad/gui/drag_distribution/drag_distribution_notebook.ipynb
Due: black, flake8

Update
  src/fastoad/gui/geometry_drawing/data/problem_outputs.xml
  src/fastoad/models/htmlcov/_Users_marti_PycharmProjects_FAST-OAD_src_fastoad__utils_testing_py.html
  src/fastoad/models/htmlcov/_Users_marti_PycharmProjects_FAST-OAD_src_fastoad_constants_py.html
  src/fastoad/models/htmlcov/_Users_marti_PycharmProjects_FAST-OAD_src_fastoad_model_base_propulsion_py.html
  src/fastoad/models/htmlcov/_Users_marti_PycharmProjects_FAST-OAD_src_fastoad_openmdao_variables_variable_list_py.html
  src/fastoad/models/htmlcov/_Users_marti_PycharmProjects_FAST-OAD_src_fastoad_openmdao_variables_variable_py.html
  src/fastoad/models/htmlcov/index.html
  src/fastoad/models/htmlcov/post_processing_ceiling_computation_py.html
  src/fastoad/models/htmlcov/post_processing_ceiling_py.html
  src/fastoad/models/htmlcov/post_processing_speed_altitude_diagram_py.html
  src/fastoad/models/htmlcov/post_processing_tests_test_post_processing_py.html
  src/fastoad/models/htmlcov/status.json
  src/fastoad/models/post_processing/ceiling_computation.py
  src/fastoad/models/post_processing/speed_altitude_diagram.py
  src/fastoad/models/post_processing/tests/conftest.py
  src/fastoad/models/post_processing/tests/data/data_post_processing.xml
  src/fastoad/models/post_processing/tests/test_post_processing.py
Due: black, flake8

enlever HTML cov
  src/fastoad/models/htmlcov/_Users_marti_PycharmProjects_FAST-OAD_src_fastoad__utils_testing_py.html
  src/fastoad/models/htmlcov/_Users_marti_PycharmProjects_FAST-OAD_src_fastoad_constants_py.html
  src/fastoad/models/htmlcov/_Users_marti_PycharmProjects_FAST-OAD_src_fastoad_model_base_propulsion_py.html
  src/fastoad/models/htmlcov/_Users_marti_PycharmProjects_FAST-OAD_src_fastoad_openmdao_variables_variable_list_py.html
  src/fastoad/models/htmlcov/_Users_marti_PycharmProjects_FAST-OAD_src_fastoad_openmdao_variables_variable_py.html
  src/fastoad/models/htmlcov/index.html
  src/fastoad/models/htmlcov/post_processing_ceiling_computation_py.html
  src/fastoad/models/htmlcov/post_processing_ceiling_py.html
  src/fastoad/models/htmlcov/post_processing_speed_altitude_diagram_py.html
  src/fastoad/models/htmlcov/post_processing_tests_test_post_processing_py.html
  src/fastoad/models/htmlcov/status.json
Due: none

Added MPI in tests.
  .github/workflows/tests.yml
  poetry.lock
  pyproject.toml
Due: sync_doc_requirements

Link to folder
  src/fastoad/notebooks/02_explanation/02_pure_python.ipynb
  src/fastoad/notebooks/02_explanation/04_OpenMDAO.ipynb
  src/fastoad/notebooks/02_explanation/05_FAST-OAD.ipynb
Due: none

Path conditions:
  black: any of: \.py$
  flake8: any of: \.py$
  sync_doc_requirements: any of: poetry.lock
