Repository fast-aircraft-design/FAST-OAD: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, flake8, sync_doc_requirements

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:

      - id: black
        name: black
        language: system
        entry: black
        types: [ python ]

      - id: flake8
        name: flake8
        language: system
        entry: flake8
        types: [ python ]

      - id: sync_doc_requirements
        name: sync_doc_requirements
        entry: poetry export --dev --without-hashes -o docs/requirements.txt -f requirements.txt
        language: python
        pass_filenames: false
        files: 'poetry.lock'

Introduce InputDefinition class for usage in MissionBuilder.
  src/fastoad/models/performances/mission/mission_definition/mission_builder.py
  src/fastoad/models/performances/mission/mission_definition/tests/test_mission_builder.py
Due: black, flake8

Changed how OpenMDAO inputs are built
  src/fastoad/models/performances/mission/mission_definition/mission_builder.py
  src/fastoad/models/performances/mission/mission_definition/tests/test_mission_builder.py
  src/fastoad/models/performances/mission/openmdao/mission_wrapper.py
  src/fastoad/openmdao/variables/variable.py
Due: black, flake8

Better architecture for InputDefinition (hopefully)
  src/fastoad/models/performances/mission/mission_definition/mission_builder.py
  src/fastoad/models/performances/mission/mission_definition/tests/test_mission_builder.py
Due: black, flake8

Now testing default values
  src/fastoad/models/performances/mission/mission_definition/mission_builder.py
  src/fastoad/models/performances/mission/mission_definition/resources/mission_schema.json
  src/fastoad/models/performances/mission/mission_definition/tests/data/mission.yml
  src/fastoad/models/performances/mission/mission_definition/tests/test_mission_builder.py
  src/fastoad/models/performances/mission/mission_definition/tests/test_schema.py
  src/fastoad/models/performances/mission/openmdao/tests/data/test_mission.yml
Due: black, flake8

Using "~" variable naming in bundled missions
  src/fastoad/models/performances/mission/mission_definition/mission_builder.py
  src/fastoad/models/performances/mission/openmdao/resources/sizing_breguet.yml
  src/fastoad/models/performances/mission/openmdao/resources/sizing_mission.yml
Due: black, flake8

Updated watchman tests.
  .github/workflows/watchman_tests.yml
Due: none

Fixed watchman tests.
  src/conftest.py
  src/fastoad/__init__.py
  src/fastoad/module_management/_plugins.py
Due: black, flake8

Added vars with default values in bundled mission definitions.
  src/fastoad/models/performances/mission/mission_definition/resources/mission_schema.json
  src/fastoad/models/performances/mission/openmdao/resources/sizing_breguet.yml
  src/fastoad/models/performances/mission/openmdao/resources/sizing_mission.yml
Due: none

Fixed test of schema.py
  src/fastoad/models/performances/mission/mission_definition/schema.py
  src/fastoad/models/performances/mission/mission_definition/tests/test_schema.py
Due: black, flake8

None values are now set to "~" just after reading.
  src/fastoad/models/performances/mission/mission_definition/mission_builder.py
  src/fastoad/models/performances/mission/mission_definition/schema.py
  src/fastoad/models/performances/mission/mission_definition/tests/test_schema.py
Due: black, flake8

Better architecture for InputDefinition (hopefully, again)
  src/fastoad/models/performances/mission/mission_definition/mission_builder.py
  src/fastoad/models/performances/mission/mission_definition/tests/test_mission_builder.py
Due: black, flake8

Minor rework
  src/fastoad/models/performances/mission/mission_definition/mission_builder.py
Due: black, flake8

Updated index.rst for FAST-OAD 1.3+
  docs/index.rst
Due: none

Updated watchman tests
  .github/workflows/watchman_tests.yml
Due: none

Updated README.md
  README.md
Due: none

Updated documentation about value setting in mission file.
  docs/documentation/mission_module/mission_file/setting_values.rst
Due: none

Updated documentation about absolute and relative target values in mission file.
  docs/documentation/mission_module/mission_file/segments.rst
Due: none

Updated documentation about transition segment.
  docs/documentation/mission_module/mission_file/segments.rst
Due: none

Updated documentation about start point.
  docs/documentation/mission_module/mission_module.rst
  src/fastoad/models/performances/mission/openmdao/mission_wrapper.py
Due: black, flake8

Minor docstring change.
  src/fastoad/models/performances/mission/segments/base.py
Due: black, flake8

minor fixes
  src/fastoad/models/performances/mission/mission_definition/mission_builder.py
  src/fastoad/models/performances/mission/openmdao/mission_wrapper.py
  src/fastoad/models/performances/mission/segments/base.py
  src/fastoad/models/performances/mission/segments/cruise.py
  src/fastoad/models/performances/mission/segments/hold.py
  src/fastoad/models/performances/mission/segments/transition.py
Due: black, flake8

In FlightPoint, mass default value is now None.
  src/fastoad/model_base/flight_point.py
  src/fastoad/models/performances/mission/openmdao/mission_wrapper.py
  src/fastoad/models/performances/mission/segments/tests/test_start.py
  src/fastoad/models/performances/mission/segments/transition.py
Due: black, flake8

Now start mass is an input if no mass target in first segment.
  src/fastoad/models/performances/mission/openmdao/mission_wrapper.py
  src/fastoad/models/performances/mission/openmdao/tests/data/test_breguet_from_block_fuel.yml
  src/fastoad/models/performances/mission/openmdao/tests/data/test_mission.xml
  src/fastoad/models/performances/mission/openmdao/tests/test_mission.py
Due: black, flake8

Updated Sphinx doc
  docs/documentation/mission_module/mission_module.rst
Due: none

Added nbstripout to dependencies and pre-commit
  .pre-commit-config.yaml
  docs/requirements.txt
  poetry.lock
  pyproject.toml
Due: sync_doc_requirements

Fixed typos
  src/fastoad/models/performances/mission/base.py
  src/fastoad/models/performances/mission/routes.py
Due: black, flake8

Allowed phases in phase.
  src/fastoad/models/performances/mission/mission_definition/mission_builder.py
  src/fastoad/models/performances/mission/mission_definition/resources/mission_schema.json
  src/fastoad/models/performances/mission/mission_definition/tests/test_mission_builder.py
  src/fastoad/models/performances/mission/openmdao/tests/data/test_breguet_from_block_fuel.yml
Due: black, flake8

Workaround for managing default values and inheritance with dataclasses.
  src/fastoad/models/performances/mission/base.py
  src/fastoad/models/performances/mission/mission_definition/mission_builder.py
  src/fastoad/models/performances/mission/routes.py
  src/fastoad/models/performances/mission/segments/base.py
  src/fastoad/models/performances/mission/tests/test_routes.py
  src/fastoad/utils/datacls.py
Due: black, flake8

Added some convenience methods.
  src/fastoad/models/performances/mission/mission_definition/mission_builder.py
Due: black, flake8

Changed how mission structure is built.
  src/fastoad/models/performances/mission/mission_definition/mission_builder.py
  src/fastoad/models/performances/mission/mission_definition/tests/test_mission_builder.py
Due: black, flake8

Added test.
  src/fastoad/openmdao/tests/test_implicit_component.py
Due: black, flake8

Revised tests (more focused)
  src/fastoad/openmdao/tests/test_implicit_component.py
Due: black, flake8

Fixed bug with integration test test_non_regression_breguet()
  src/fastoad/openmdao/tests/test_variables.py
  src/fastoad/openmdao/variables/variable_list.py
Due: black, flake8

Fixed issue
  src/fastoad/openmdao/variables/variable_list.py
Due: black, flake8

Revised tests again
  src/fastoad/openmdao/tests/data/ref_inputs.xml
  src/fastoad/openmdao/tests/openmdao_sellar_example/sellar.py
  src/fastoad/openmdao/tests/test_implicit_component.py
  src/fastoad/openmdao/tests/test_problem.py
Due: black, flake8

Now pytest avoids running .ipynb_checkpoints folders.
  pyproject.toml
Due: none

Reworked InputDefinition so it can be properly tested.
  src/fastoad/models/performances/mission/mission_definition/mission_builder.py
  src/fastoad/models/performances/mission/mission_definition/tests/test_mission_builder.py
Due: black, flake8

Renaming and minor refactoring
  src/fastoad/models/performances/mission/mission_definition/mission_builder.py
  src/fastoad/models/performances/mission/mission_definition/tests/test_mission_builder.py
  src/fastoad/models/performances/mission/openmdao/mission_wrapper.py
Due: black, flake8
