Repository fast-aircraft-design/FAST-OAD: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, flake8, sync_doc_requirements, nbstripout

black:
  name: black
  language: system
  entry: black

flake8:
  name: flake8
  language: system
  entry: flake8

sync_doc_requirements:
  name: sync_doc_requirements
  entry: poetry export --with doc --without-hashes -o docs/requirements.txt -f requirements.txt
  language: system
  pass_filenames: false

nbstripout:
  name: nbstripout
  description: 'nbstripout: strip output from Jupyter and IPython notebooks'
  entry: nbstripout
  language: system

Fixed existing test.
  src/fastoad/openmdao/tests/test_problem.py
Due: black, flake8

Some renaming.
  src/fastoad/openmdao/problem.py
Due: black, flake8

Added compatibility with Python 3.12
  .github/workflows/tests.yml
  .github/workflows/watchman_tests.yml
  docs/requirements.txt
  poetry.lock
  pyproject.toml
Due: sync_doc_requirements

Fixed compatibility with Python 3.12
  src/fastoad/_utils/resource_management/contents.py
  src/fastoad/models/performances/mission/openmdao/payload_range.py
Due: black, flake8

workflow tests
  docs/requirements.txt
  poetry.lock
  pyproject.toml
  src/fastoad/_utils/resource_management/contents.py
Due: black, flake8, sync_doc_requirements

Updates CHANGELOG.rst
  CHANGELOG.rst
Due: none

Released version constraints on jupyter and GUI-related packages.
  docs/requirements.txt
  poetry.lock
  pyproject.toml
Due: sync_doc_requirements

Adding grouped legend for each aircraft configuration in order to isolate one aircraft from another when plotting mass_breakdown_plots
  src/fastoad/gui/analysis_and_plots.py
Due: black, flake8

Line too long for codacy Static
  src/fastoad/gui/analysis_and_plots.py
Due: black, flake8

Removing Trailing White Space
  src/fastoad/gui/analysis_and_plots.py
Due: black, flake8

Both plots should be in the same legend group , problem fixed
  src/fastoad/gui/analysis_and_plots.py
Due: black, flake8

Plots now handle horizontal_tail:center new naming
  src/fastoad/gui/analysis_and_plots.py
Due: black, flake8

Added comment
  src/fastoad/gui/analysis_and_plots.py
Due: black, flake8

Updated tests for plot with new naming
  src/fastoad/gui/tests/data/problem_outputs_updated.xml
  src/fastoad/gui/tests/test_analysis_and_plots.py
Due: black, flake8

Minor refactoring
  src/fastoad/gui/analysis_and_plots.py
Due: black, flake8

Fixed version in pyproject.toml.
  pyproject.toml
Due: none

Test for adding mass sunchart for missions
  src/fastoad/gui/tests/data/problem_outputs_multi_mission.xml
  src/fastoad/gui/tests/test_analysis_and_plots.py
Due: black, flake8

Adding mass sunchart for missions
  src/fastoad/gui/analysis_and_plots.py
Due: black, flake8

Added test for missing inputs with nan default values.
  src/fastoad/openmdao/tests/data/missing_inputs.xml
  src/fastoad/openmdao/tests/openmdao_sellar_example/disc1.py
  src/fastoad/openmdao/tests/openmdao_sellar_example/disc2.py
  src/fastoad/openmdao/tests/test_problem.py
Due: black, flake8

Now correct assessment of NaN values after input reading.
  src/fastoad/openmdao/exceptions.py
  src/fastoad/openmdao/problem.py
  src/fastoad/openmdao/tests/test_problem.py
Due: black, flake8

Update for test checks
  src/fastoad/gui/analysis_and_plots.py
  src/fastoad/gui/tests/test_analysis_and_plots.py
Due: black, flake8

Fixed tests that could fail in some environments.
  src/fastoad/io/configuration/tests/test_configuration.py
  src/fastoad/openmdao/tests/test_validity_checker.py
Due: black, flake8

test_1
  .pre-commit-config.yaml
Due: none

test_invalid
  src/fastoad/gui/analysis_and_plots.py
Due: black, flake8

test_2
  src/fastoad/gui/analysis_and_plots.py
Due: black, flake8

test-invalid2
  src/fastoad/gui/analysis_and_plots.py
Due: black, flake8

test_precommit
  .pre-commit-config.yaml
  src/fastoad/gui/analysis_and_plots.py
Due: black, flake8

rollback
  .pre-commit-config.yaml
Due: none

code style improvement
  .pre-commit-config.yaml
  src/fastoad/gui/analysis_and_plots.py
Due: black, flake8

increase test coverage
  .pre-commit-config.yaml
  src/fastoad/gui/tests/test_analysis_and_plots.py
Due: black, flake8

Path conditions:
  black: any of: \.py$
  flake8: any of: \.py$
  sync_doc_requirements: any of: poetry.lock
  nbstripout: any of: \.ipynb$
