Repository fast-aircraft-design/FAST-OAD: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, flake8, sync_doc_requirements, nbstripout

black:
  name: black
  language: system
  entry: black

flake8:
  name: flake8
  language: system
  entry: flake8

sync_doc_requirements:
  name: sync_doc_requirements
  entry: poetry export --dev --without-hashes -o docs/requirements.txt -f requirements.txt
  language: python
  pass_filenames: false

nbstripout:
  name: nbstripout
  description: 'nbstripout: strip output from Jupyter and IPython notebooks'
  entry: nbstripout
  language: python

Corrected md text in Notebook
  src/fastoad/notebooks/02_From_Python_to_FAST-OAD/02_pure_Python.ipynb
Due: nbstripout

Changed np.all to np.any for generate_inputs
  src/fastoad/io/configuration/configuration.py
Due: black, flake8

Changed np.all to np.any for get_problem_inputs
  src/fastoad/openmdao/problem.py
Due: black, flake8

Changed handling of warning message
  src/fastoad/io/configuration/configuration.py
Due: black, flake8

More thorough test for nan values warning
  src/fastoad/io/configuration/tests/test_configuration.py
Due: black, flake8

Added comment to explain the purpose of the variable in xml file
  src/fastoad/io/configuration/tests/data/ref_inputs_with_nan.xml
Due: none

Update docs/documentation/mission_module/mission_file/mission_file.rst
  docs/documentation/mission_module/mission_file/mission_file.rst
Due: none

Minor correction for integration of take off segment tests
  src/fastoad/models/performances/mission/openmdao/tests/data/test_mission.xml
  src/fastoad/models/performances/mission/openmdao/tests/test_mission_takeoff.py
  src/fastoad/models/performances/mission/tests/conftest.py
Due: black, flake8

Initial documentation for takeoff segments.
  docs/documentation/mission_module/mission_file/segments.rst
Due: none

Documentation added
  docs/documentation/mission_module/mission_file/mission_file.rst
  docs/documentation/mission_module/mission_file/segments.rst
Due: none

Minor bug correction
  src/fastoad/model_base/flight_point.py
  src/fastoad/models/performances/mission/mission_definition/mission_builder/structure_builders.py
  src/fastoad/models/performances/mission/mission_definition/resources/mission_schema.json
  src/fastoad/models/performances/mission/openmdao/tests/data/test_mission_takeoff.yml
  src/fastoad/models/performances/mission/polar.py
Due: black, flake8

Initial plot for generic payload range
  src/fastoad/gui/payload_range/payload_range_file.py
Due: black, flake8

Update layout for both cases
  src/fastoad/gui/payload_range/payload_range_file.py
Due: black, flake8

class MissionComponent is now renamed MissionAdvancedRun and inherits from MissionRun.
  src/fastoad/models/performances/mission/openmdao/mission.py
  src/fastoad/models/performances/mission/openmdao/mission_component.py
  src/fastoad/models/performances/mission/openmdao/mission_run.py
  src/fastoad/models/performances/mission/openmdao/tests/test_mission.py
  src/fastoad/models/performances/mission/openmdao/tests/test_with_custom_segment.py
Due: black, flake8

'target_fuel_consumption' is now allowed as mission parameter in definition file.
  src/fastoad/models/performances/mission/mission_definition/resources/mission_schema.json
Due: none

Now usage of all block fuel can be forced in MissionWrapper.
  src/fastoad/models/performances/mission/mission_definition/mission_builder/mission_builder.py
  src/fastoad/models/performances/mission/openmdao/mission_wrapper.py
  src/fastoad/models/performances/mission/openmdao/tests/test_mission.py
Due: black, flake8

Mission variable prefix is no more hard-coded to "data:mission".
  src/fastoad/models/performances/mission/mission_definition/mission_builder/input_definition.py
  src/fastoad/models/performances/mission/mission_definition/mission_builder/mission_builder.py
  src/fastoad/models/performances/mission/mission_definition/mission_builder/structure_builders.py
  src/fastoad/models/performances/mission/mission_definition/mission_builder/tests/test_mission_builder.py
  src/fastoad/models/performances/mission/openmdao/mission_wrapper.py
Due: black, flake8

Better error if an unknown segment is requested.
  src/fastoad/models/performances/mission/mission_definition/mission_builder/structure_builders.py
  src/fastoad/models/performances/mission/segments/base.py
  src/fastoad/models/performances/mission/segments/exceptions.py
Due: black, flake8

Minor change to ensure segment declaration for tests.
  src/fastoad/models/performances/mission/openmdao/tests/test_with_custom_segment.py
  src/fastoad/models/performances/mission/segments/__init__.py
  src/fastoad/openmdao/variables/__init__.py
  tox.ini
Due: black, flake8

"use_all_block_fuel" parameter is now handled in MissionDefinition class.
  src/fastoad/models/performances/mission/mission_definition/mission_builder/structure_builders.py
  src/fastoad/models/performances/mission/mission_definition/schema.py
Due: black, flake8

Added class MissionRun.
  src/fastoad/models/performances/mission/openmdao/mission_run.py
  src/fastoad/models/performances/mission/openmdao/tests/data/test_mission_run.xml
  src/fastoad/models/performances/mission/openmdao/tests/test_mission_run.py
Due: black, flake8

Mission name is now a possible attribute of MissionBuilder (and mandatory for MissionWrapper).
  src/fastoad/models/performances/mission/mission_definition/mission_builder/mission_builder.py
  src/fastoad/models/performances/mission/openmdao/mission.py
  src/fastoad/models/performances/mission/openmdao/mission_run.py
  src/fastoad/models/performances/mission/openmdao/mission_wrapper.py
  src/fastoad/models/performances/mission/openmdao/tests/test_mission.py
Due: black, flake8

Added pyDOE2 to dependencies.
  docs/requirements.txt
  poetry.lock
  pyproject.toml
Due: sync_doc_requirements

Added computation of inner grid in payload range contour.
  src/fastoad/models/performances/mission/openmdao/payload_range.py
  src/fastoad/models/performances/mission/openmdao/tests/test_payload_range.py
Due: black, flake8

Added payload range component.
  src/fastoad/models/performances/mission/openmdao/payload_range.py
  src/fastoad/models/performances/mission/openmdao/tests/data/test_payload_range.xml
  src/fastoad/models/performances/mission/openmdao/tests/data/test_payload_range.yml
  src/fastoad/models/performances/mission/openmdao/tests/test_payload_range.py
Due: black, flake8

Now using only distance in first route.
  src/fastoad/models/performances/mission/mission_definition/mission_builder/mission_builder.py
  src/fastoad/models/performances/mission/openmdao/payload_range.py
  src/fastoad/models/performances/mission/openmdao/tests/data/test_payload_range.yml
  src/fastoad/models/performances/mission/openmdao/tests/test_payload_range.py
Due: black, flake8

Variable point count in contour.
  src/fastoad/models/performances/mission/openmdao/payload_range.py
  src/fastoad/models/performances/mission/openmdao/tests/data/test_payload_range.xml
  src/fastoad/models/performances/mission/openmdao/tests/test_payload_range.py
Due: black, flake8

MissionRun can now be used without init arguments.
  src/fastoad/models/performances/mission/openmdao/mission_run.py
Due: black, flake8

Added get_variable_list_from_system() function.
  src/fastoad/openmdao/problem.py
Due: black, flake8

Reorganized
  src/fastoad/models/performances/mission/openmdao/payload_range.py
Due: black, flake8

in Mission class, mission is now trivially computed if target_fuel_consumption is 0.0.
  src/fastoad/models/performances/mission/mission.py
Due: black, flake8

More tests for payload-range computation
  src/fastoad/models/performances/mission/openmdao/tests/data/test_payload_range.xml
  src/fastoad/models/performances/mission/openmdao/tests/test_payload_range.py
Due: black, flake8

Added options for minimum payload and minimum block fuel for inner grid points.
  src/fastoad/models/performances/mission/openmdao/payload_range.py
  src/fastoad/models/performances/mission/openmdao/tests/test_payload_range.py
Due: black, flake8

Applied changes according to PR #473 remarks
  src/fastoad/models/performances/mission/ground_effect.py
  src/fastoad/models/performances/mission/mission_definition/mission_builder/mission_builder.py
  src/fastoad/models/performances/mission/mission_definition/mission_builder/structure_builders.py
  src/fastoad/models/performances/mission/openmdao/mission_component.py
  src/fastoad/models/performances/mission/polar.py
  src/fastoad/models/performances/mission/tests/conftest.py
Due: black, flake8

Put back the pycharm run conf file as it was
  .PyCharmRunConfs/pytest units.run.xml
Due: none

MissionViewer fixed
  src/fastoad/gui/exceptions.py
  src/fastoad/gui/mission_viewer.py
  src/fastoad/gui/tests/test_mission_viewer.py
Due: black, flake8

Added source files as plugin info
  src/conftest.py
  src/fastoad/module_management/_plugins.py
  src/fastoad/module_management/exceptions.py
  src/fastoad/module_management/tests/test_plugins.py
  tests/dummy_plugins/dist_1/dummy_plugin_4/source_files/__init__.py
  tests/dummy_plugins/dist_1/dummy_plugin_4/source_files/dummy_source_4-1.xml
  tests/dummy_plugins/dist_3/dummy_plugin_5/source_files/__init__.py
  tests/dummy_plugins/dist_3/dummy_plugin_5/source_files/dummy_source_5-1.xml
  tests/dummy_plugins/dist_3/dummy_plugin_5/source_files/dummy_source_5-2.xml
  tests/dummy_plugins/dist_3/dummy_plugin_5/source_files/dummy_source_5-3.xml
Due: black, flake8

Added source file generation command
  src/conftest.py
  src/fastoad/api.py
  src/fastoad/cmd/api.py
  src/fastoad/cmd/cli.py
  src/fastoad/cmd/tests/test_api.py
  src/fastoad/cmd/tests/test_cli.py
  src/fastoad/module_management/tests/test_plugins.py
Due: black, flake8

Plugin info test modified
  src/fastoad/cmd/tests/test_cli.py
Due: black, flake8

Added source_files folder for FAST-OAD-core
  src/fastoad/source_files/__init__.py
Due: black, flake8

Path conditions:
  black: any of: \.py$
  flake8: any of: \.py$
  sync_doc_requirements: any of: poetry.lock
  nbstripout: any of: \.ipynb$
