Repository fast-aircraft-design/FAST-OAD: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, flake8, sync_doc_requirements, nbstripout

black:
  name: black
  language: system
  entry: poetry run black

flake8:
  name: flake8
  language: system
  entry: poetry run flake8

sync_doc_requirements:
  name: sync_doc_requirements
  entry: poetry export --with doc --without-hashes -o docs/requirements.txt -f requirements.txt
  language: system
  pass_filenames: false

nbstripout:
  name: nbstripout
  description: 'nbstripout: strip output from Jupyter and IPython notebooks'
  entry: nbstripout
  language: system

Updated test to include additional dict field
  src/fastoad/io/configuration/tests/test_configuration.py
Due: black, flake8

Corrected .md to .rst
  docs/documentation/usage.rst
Due: none

Update docs/documentation/usage.rst
  docs/documentation/usage.rst
Due: none

Documentation: changed example in driver settings
  docs/documentation/usage.rst
Due: none

Now 'sys_paths:' is in 'imports:'
  src/fastoad/io/configuration/configuration.py
  src/fastoad/io/configuration/resources/configuration.json
Due: black, flake8

Modified tests.
  src/fastoad/io/configuration/tests/data/conf_with_imports.yml
  src/fastoad/io/configuration/tests/test_configuration.py
Due: black, flake8

Now using 'sys.path:' instead of 'sys_paths:'
  src/fastoad/io/configuration/configuration.py
  src/fastoad/io/configuration/resources/configuration.json
  src/fastoad/io/configuration/tests/data/conf_with_imports.yml
Due: black, flake8

Updated documentation
  docs/documentation/usage.rst
Due: none

Added method to make a local run case
  src/fastoad/__init__.py
  src/fastoad/io/configuration/configuration.py
  src/fastoad/io/configuration/tests/data/valid_sellar.toml
  src/fastoad/io/configuration/tests/data/valid_sellar.yml
  src/fastoad/io/configuration/tests/test_configuration.py
Due: black, flake8

Renaming, comments, and slight enhancements.
  src/fastoad/api.py
  src/fastoad/cmd/calc_runner.py
  src/fastoad/cmd/tests/test_calc_runner.py
  src/fastoad/openmdao/problem.py
Due: black, flake8

Introduced calc runner
  src/fastoad/api.py
  src/fastoad/cmd/calc_runner.py
  src/fastoad/cmd/tests/data/sellar2.yml
  src/fastoad/cmd/tests/test_calc_runner.py
  src/fastoad/openmdao/problem.py
Due: black, flake8

Now can provide an input file for run case.
  src/fastoad/cmd/calc_runner.py
Due: black, flake8

Can now keep existing runs.
  src/fastoad/cmd/calc_runner.py
  src/fastoad/cmd/tests/test_calc_runner.py
Due: black, flake8

Now using make_local() in integration test.
  tests/integration_tests/oad_process/data/mission_definition/sizing_breguet.yml
  tests/integration_tests/oad_process/data/oad_process.yml
  tests/integration_tests/oad_process/test_oad_process.py
Due: black, flake8

Minor refactoring
  src/fastoad/cmd/calc_runner.py
Due: black, flake8

Now local paths ends with the option name.
  src/fastoad/io/configuration/configuration.py
  src/fastoad/io/configuration/tests/test_configuration.py
Due: black, flake8

Added type hints
  src/fastoad/cmd/calc_runner.py
Due: black, flake8

Docstring fix
  src/fastoad/io/configuration/configuration.py
Due: black, flake8

Slight modifications
  src/fastoad/cmd/calc_runner.py
Due: black, flake8

Workflow fix
  .github/workflows/tests.yml
Due: none

Fixed: files in model options were not managed
  src/fastoad/io/configuration/configuration.py
  src/fastoad/io/configuration/tests/data/valid_sellar.toml
  src/fastoad/io/configuration/tests/data/valid_sellar.yml
  src/fastoad/io/configuration/tests/test_configuration.py
Due: black, flake8

Removed usage of importlib.resources.contents for Python 3.9+
  src/fastoad/_utils/resource_management/contents.py
Due: black, flake8

Now using pyDOE3 instead of pyDOE2
  docs/requirements.txt
  poetry.lock
  pyproject.toml
  src/fastoad/models/performances/mission/openmdao/payload_range.py
Due: black, flake8, sync_doc_requirements

Relaxed some constraints on dependencies
  docs/requirements.txt
  poetry.lock
  pyproject.toml
Due: sync_doc_requirements

Temporary update of dependencies
  poetry.lock
Due: sync_doc_requirements

Temporary activated Python 3.9 for test workflow
  .github/workflows/tests.yml
Due: none

Updated input files to allow last CS25 models in integration tests.
  tests/integration_tests/oad_process/data/CeRAS01_legacy_breguet_result.xml
  tests/integration_tests/oad_process/data/CeRAS01_notebooks.xml
  tests/memory_tests/data/CeRAS01.xml
Due: none

Removed usage of deprecated items of importlib.resources.
  docs/requirements.txt
  poetry.lock
  pyproject.toml
  src/fastoad/_utils/resource_management/contents.py
  src/fastoad/_utils/resource_management/copy.py
  src/fastoad/io/configuration/configuration.py
  src/fastoad/io/xml/variable_io_legacy.py
  src/fastoad/models/performances/mission/mission_definition/schema.py
  src/fastoad/models/performances/mission/openmdao/base.py
  src/fastoad/openmdao/variables/variable.py
Due: black, flake8, sync_doc_requirements

Removed some pandas-related warnings
  src/fastoad/_utils/pandas.py
  src/fastoad/cmd/api.py
  src/fastoad/gui/variable_viewer.py
  src/fastoad/models/performances/mission/openmdao/mission_run.py
Due: black, flake8

Removed warning for intended usage of deprecated RegisteredSegment
  src/fastoad/models/performances/mission/mission_definition/mission_builder/tests/test_mission_builder.py
Due: black, flake8

Back to dev environment with early versions.
  docs/requirements.txt
  poetry.lock
Due: sync_doc_requirements

Back to initial test workflow
  .github/workflows/tests.yml
Due: none

Added __version__ in fastoad.api (might help someone someday...)
  src/fastoad/api.py
Due: black, flake8

Temporary deactivation of memory tests
  .github/workflows/tests.yml
Due: none

Renamed test segment classes to avoid pytest trying to collect them.
  src/fastoad/models/performances/mission/mission_definition/mission_builder/tests/test_mission_builder.py
  src/fastoad/models/performances/mission/openmdao/tests/test_with_custom_segment.py
Due: black, flake8

Removed warnings for intended test of deprecated get_unconnected_input_names
  src/fastoad/models/performances/mission/mission.py
  src/fastoad/models/performances/mission/openmdao/tests/data/test_with_custom_segment.xml
  src/fastoad/openmdao/tests/test_utils.py
  src/fastoad/openmdao/tests/test_variables.py
Due: black, flake8

Removed mission-related warnings
  src/fastoad/models/performances/mission/mission_definition/mission_builder/input_definition.py
  src/fastoad/models/performances/mission/segments/base.py
Due: black, flake8

All warnings removed in tests of _utils.
  src/fastoad/_utils/sellar/function_f.py
Due: black, flake8

All warnings removed in tests of fastoad.gui
  src/fastoad/gui/variable_viewer.py
Due: black, flake8

Path conditions:
  black: any of: \.py$
  flake8: any of: \.py$
  sync_doc_requirements: any of: poetry.lock
  nbstripout: any of: \.ipynb$
