Repository fast-aircraft-design/FAST-OAD: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, flake8, sync_doc_requirements, nbstripout

black:
  name: black
  language: system
  entry: poetry run black

flake8:
  name: flake8
  language: system
  entry: poetry run flake8

sync_doc_requirements:
  name: sync_doc_requirements
  entry: poetry export --with doc --without-hashes -o docs/requirements.txt -f requirements.txt
  language: system
  pass_filenames: false

nbstripout:
  name: nbstripout
  description: 'nbstripout: strip output from Jupyter and IPython notebooks'
  entry: nbstripout
  language: system

Minor fix in comment
  src/fastoad/model_base/flight_point.py
Due: black, flake8

Slight refactoring
  src/fastoad/model_base/flight_point.py
Due: black, flake8

Fixed typo
  src/fastoad/model_base/flight_point.py
Due: black, flake8

Added the possibility to specify imports in the configuration file
  src/fastoad/io/configuration/configuration.py
Due: black, flake8

Added unit test for imports handling
  src/fastoad/io/configuration/tests/data/conf_with_imports.yml
  src/fastoad/io/configuration/tests/test_configuration.py
Due: black, flake8

Added imports to json schema
  src/fastoad/io/configuration/resources/configuration.json
Due: none

Now using iPOPO 3 for Python >=3.10
  docs/requirements.txt
  poetry.lock
  pyproject.toml
Due: sync_doc_requirements

Fixed bug
  src/fastoad/cmd/api.py
  src/fastoad/module_management/service_registry.py
Due: black, flake8

Minor change (logical follow-up of previous commit)
  src/fastoad/cmd/api.py
Due: black, flake8

Corrected comment
  src/fastoad/io/configuration/configuration.py
Due: black, flake8

Corrected tests
  src/fastoad/io/configuration/tests/data/conf_with_imports.yml
  src/fastoad/io/configuration/tests/data/to_be_imported/__init__.py
  src/fastoad/io/configuration/tests/data/to_be_imported/my_driver_1.py
  src/fastoad/io/configuration/tests/data/to_be_imported/my_driver_2.py
  src/fastoad/io/configuration/tests/test_configuration.py
Due: black, flake8

Updated docs
  docs/documentation/usage.rst
Due: none

Minor fix
  src/fastoad/models/performances/mission/openmdao/mission_wrapper.py
Due: black, flake8

Fixed copyrights
  src/fastoad/models/performances/mission/openmdao/mission_wrapper.py
  src/fastoad/models/performances/mission/tests/test_routes.py
Due: black, flake8

Fixed descriptor of ground_distance
  src/fastoad/model_base/flight_point.py
Due: black, flake8

Added XML outputs for mission variables
  src/fastoad/models/performances/mission/openmdao/mission_wrapper.py
Due: black, flake8

WIP
  src/fastoad/models/performances/mission/segments/time_step_base.py
Due: black, flake8

WIP
  src/fastoad/models/performances/mission/mission_definition/mission_builder/mission_builder.py
  src/fastoad/models/performances/mission/segments/time_step_base.py
Due: black, flake8

Added dedicated "Advanced configuration file" section to docs
  docs/documentation/usage.rst
Due: none

Update _om_eval docstring
  src/fastoad/io/configuration/configuration.py
Due: black, flake8

Added comment for unit tests
  src/fastoad/io/configuration/tests/test_configuration.py
Due: black, flake8

Added possibility to specify path to add to sys.path
  src/fastoad/io/configuration/configuration.py
  src/fastoad/io/configuration/resources/configuration.json
Due: black, flake8

Added test for sys.path feature
  src/fastoad/io/configuration/tests/test_configuration.py
Due: black, flake8

Added doc for sys.path feature
  docs/documentation/usage.rst
Due: none

Using logger instead of print for imports
  src/fastoad/io/configuration/configuration.py
Due: black, flake8

Raising error instead of warning for imports in configuration file
  src/fastoad/io/configuration/configuration.py
Due: black, flake8

REmoved custom imports from simple configuration file example
  docs/documentation/usage.rst
Due: none

Added more flexible syntax for driver and settings
  src/fastoad/io/configuration/configuration.py
  src/fastoad/io/configuration/resources/configuration.json
Due: black, flake8

Added test for more flexible syntax for driver and settings
  src/fastoad/io/configuration/tests/test_configuration.py
Due: black, flake8

Added docs for more flexible syntax for driver and settings
  docs/documentation/usage.rst
Due: none

Minor fix for PyCharm run configuration
  .PyCharmRunConfs/pytest units with coverage.run.xml
  .PyCharmRunConfs/pytest units.run.xml
Due: none

Less strict handling of sys paths
  src/fastoad/io/configuration/configuration.py
Due: black, flake8

Corrected error message
  src/fastoad/io/configuration/configuration.py
Due: black, flake8

Removed unnecessary checking of driver field
  src/fastoad/io/configuration/configuration.py
Due: black, flake8

More efficient key iteration
  src/fastoad/io/configuration/configuration.py
Due: black, flake8

Precising in docs that added path concern only drivers and solvers
  docs/documentation/usage.rst
Due: none

Corrected configuration file .json template
  src/fastoad/io/configuration/resources/configuration.json
Due: none

Update docs to insist more on dict fields
  docs/documentation/usage.rst
Due: none

Now using 'standard' and 'advanced' wording for syntax
  docs/documentation/usage.rst
Due: none

Corrected comment on imports in tests
  src/fastoad/io/configuration/tests/test_configuration.py
Due: black, flake8

Path conditions:
  black: any of: \.py$
  flake8: any of: \.py$
  sync_doc_requirements: any of: poetry.lock
  nbstripout: any of: \.ipynb$
