Repository fast-aircraft-design/FAST-OAD: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, flake8, sync_doc_requirements, nbstripout

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:

      - id: black
        name: black
        language: system
        entry: poetry run black
        types: [ python ]

      - id: flake8
        name: flake8
        language: system
        entry: poetry run flake8
        types: [ python ]

      - id: sync_doc_requirements
        name: sync_doc_requirements
        entry: poetry export --with doc --without-hashes -o docs/requirements.txt -f requirements.txt
        language: system
        pass_filenames: false
        files: 'poetry.lock'

      - id: nbstripout
        name: nbstripout
        description: 'nbstripout: strip output from Jupyter and IPython notebooks'
        entry: nbstripout
        language: system
        types: [ jupyter ]

Removed TOML format for configuration file
  src/fastoad/io/configuration/configuration.py
  src/fastoad/io/configuration/exceptions.py
  src/fastoad/io/configuration/tests/data/invalid_attribute.toml
  src/fastoad/io/configuration/tests/data/missing_input_file.toml
  src/fastoad/io/configuration/tests/data/missing_model.toml
  src/fastoad/io/configuration/tests/data/missing_output_file.toml
  src/fastoad/io/configuration/tests/data/module_folder_as_one_string.toml
  src/fastoad/io/configuration/tests/data/no_module_folder.toml
  src/fastoad/io/configuration/tests/data/valid_sellar.toml
  src/fastoad/io/configuration/tests/data/valid_sellar_alternate.toml
  src/fastoad/io/configuration/tests/data/valid_sellar_with_indep.toml
  src/fastoad/io/configuration/tests/test_configuration.py
Due: black, flake8

test
  src/fastoad/gui/dashboard/config_viewer/option_viewer.py
Due: black, flake8

Initiated GUI
  src/fastoad/gui/dashboard/app.py
Due: black, flake8

Added Panel to dependencies
  docs/requirements.txt
  poetry.lock
  pyproject.toml
Due: sync_doc_requirements

test
  src/fastoad/gui/dashboard/__init__.py
  src/fastoad/gui/dashboard/config_viewer/__init__.py
  src/fastoad/gui/dashboard/config_viewer/option_viewer.py
Due: black, flake8

Added Panel to dependencies
  poetry.lock
  pyproject.toml
Due: sync_doc_requirements

WIP
  src/fastoad/gui/dashboard/app.py
Due: black, flake8

Moved files
  .PyCharmRunConfs/Panel serve.run.xml
  src/fastoad/dashboard/__init__.py
  src/fastoad/dashboard/app.py
  src/fastoad/dashboard/base.py
  src/fastoad/dashboard/config_viewer/__init__.py
  src/fastoad/dashboard/config_viewer/option_viewer.py
  src/fastoad/run_app.py
Due: black, flake8

WIP
  src/fastoad_app/dashboard/app.py
  src/fastoad_app/dashboard/editor.py
  src/fastoad_app/dashboard/tab_manager.py
  src/fastoad_app/run_app.py
Due: black, flake8

New organization of code
  .PyCharmRunConfs/Panel serve.run.xml
  src/fastoad_app/__init__.py
  src/fastoad_app/dashboard/__init__.py
  src/fastoad_app/dashboard/app.py
  src/fastoad_app/dashboard/base.py
  src/fastoad_app/dashboard/config_viewer/__init__.py
  src/fastoad_app/dashboard/config_viewer/option_viewer.py
  src/fastoad_app/run_app.py
Due: black, flake8

WIP
  src/fastoad_app/dashboard/app.py
  src/fastoad_app/dashboard/model_viewer.py
Due: black, flake8

WIP
  src/fastoad_app/dashboard/app.py
  src/fastoad_app/run_app.py
Due: black, flake8

Now loading configuration file
  src/fastoad_app/dashboard/app.py
Due: black, flake8

WIP
  src/fastoad_app/dashboard/app.py
Due: black, flake8

WIP
  src/fastoad_app/dashboard/app.py
  src/fastoad_app/dashboard/hierarchy_viewer.py
Due: black, flake8

Element selection materialized
  src/fastoad_app/dashboard/app.py
  src/fastoad_app/dashboard/hierarchy_viewer.py
  src/fastoad_app/dashboard/observer_base.py
Due: black, flake8

Element selection materialized
  src/fastoad_app/dashboard/hierarchy_viewer.py
Due: black, flake8

Transition segment is modified to allow mass loss without consuming fuel.
  src/fastoad/models/performances/mission/segments/registered/tests/test_transition.py
  src/fastoad/models/performances/mission/segments/registered/transition.py
Due: black, flake8

Updated documentation.
  docs/documentation/mission_module/mission_file/segments.rst
Due: none

Now lift is always computed.
  src/fastoad/models/performances/mission/segments/time_step_base.py
Due: black, flake8

Minor fix: in ClimbAndCruiseSegment, climb_segment attribute could occasionally be None when attempting to set its target
  src/fastoad/models/performances/mission/segments/registered/cruise.py
Due: black, flake8

Some refactoring
  src/fastoad/models/performances/mission/segments/registered/takeoff/end_of_takeoff.py
  src/fastoad/models/performances/mission/segments/time_step_base.py
Due: black, flake8

Update README.md
  README.md
Due: none

Different behaviors between weight-driven-lift and AoA-driven-lift segments is now handled through inheritance.
  src/fastoad/models/performances/mission/segments/registered/altitude_change.py
  src/fastoad/models/performances/mission/segments/registered/cruise.py
  src/fastoad/models/performances/mission/segments/registered/hold.py
  src/fastoad/models/performances/mission/segments/registered/speed_change.py
  src/fastoad/models/performances/mission/segments/registered/taxi.py
  src/fastoad/models/performances/mission/segments/time_step_base.py
Due: black, flake8

Added load factor attribute for AbstractLiftFromWeightSegment.
  src/fastoad/models/performances/mission/segments/registered/tests/test_hold.py
  src/fastoad/models/performances/mission/segments/time_step_base.py
Due: black, flake8

Updated CHANGELOG.rst
  CHANGELOG.rst
Due: none

Modified the links to pull requests (will now work in any markdown visualisation)
  CHANGELOG.rst
Due: none

Updated sphinxcontrib-bibtex so it can be used with Python 3.11
  .readthedocs.yaml
  docs/conf.py
  docs/requirements.txt
  poetry.lock
  pyproject.toml
Due: black, flake8, sync_doc_requirements

Added Sphinx directives for list segments that uses a parameter.
  docs/conf.py
  docs/directives/__init__.py
  docs/directives/list_segments.py
  docs/documentation/mission_module/mission_file/mission_file.rst
  docs/documentation/mission_module/mission_file/segments.rst
Due: black, flake8

A bit better
  docs/conf.py
  docs/directives/list_segments.py
  docs/directives/segment_attributes.py
  docs/documentation/mission_module/mission_file/segments.rst
Due: black, flake8

A bit better
  docs/directives/segment_attributes.py
Due: black, flake8
