Repository fast-aircraft-design/FAST-OAD: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, flake8, sync_doc_requirements, nbstripout

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:

      - id: black
        name: black
        language: system
        entry: black
        types: [ python ]

      - id: flake8
        name: flake8
        language: system
        entry: flake8
        types: [ python ]

      - id: sync_doc_requirements
        name: sync_doc_requirements
        entry: poetry export --dev --without-hashes -o docs/requirements.txt -f requirements.txt
        language: python
        pass_filenames: false
        files: 'poetry.lock'

      - id: nbstripout
        name: nbstripout
        description: 'nbstripout: strip output from Jupyter and IPython notebooks'
        entry: nbstripout
        language: python
        types: [ jupyter ]

Removed useless prints
  src/fastoad/openmdao/tests/test_variables.py
Due: black, flake8

Changed comment position
  src/fastoad/openmdao/variables/variable.py
Due: black, flake8

Refactored class method to _as_list_or_item
  src/fastoad/openmdao/variables/variable_list.py
Due: black, flake8

Initiated CFF file.
  CITATION.cff
Due: none

Added FAST-OAD logo in README.
  README.md
  docs/img/FAST_OAD_logo1.jpg
  docs/img/FAST_OAD_logo2.jpg
Due: none

Modification in process to integrate AoA vector
  src/fastoad/models/performances/mission/ground_effect.py
  src/fastoad/models/performances/mission/mission_definition/mission_builder/mission_builder.py
  src/fastoad/models/performances/mission/mission_definition/mission_builder/structure_builders.py
  src/fastoad/models/performances/mission/mission_definition/resources/mission_schema.json
  src/fastoad/models/performances/mission/openmdao/tests/data/test_mission.xml
  src/fastoad/models/performances/mission/openmdao/tests/data/test_mission_takeoff.yml
  src/fastoad/models/performances/mission/openmdao/tests/test_mission_takeoff.py
  src/fastoad/models/performances/mission/polar.py
  src/fastoad/models/performances/mission/polar_modifier.py
  src/fastoad/models/performances/mission/segments/tests/test_takeoff_segments.py
  src/fastoad/models/performances/mission/tests/conftest.py
Due: black, flake8

Modification still in process Need to enter delta altitude in takeoff with Ground Effect instead of absolute altitud
  pyproject.toml
  src/fastoad/models/performances/mission/mission_definition/mission_builder/mission_builder.py
  src/fastoad/models/performances/mission/mission_definition/mission_builder/structure_builders.py
  src/fastoad/models/performances/mission/openmdao/mission_component.py
  src/fastoad/models/performances/mission/openmdao/tests/data/test_mission_takeoff.yml
  src/fastoad/models/performances/mission/openmdao/tests/test_mission_takeoff.py
  src/fastoad/models/performances/mission/segments/tests/test_takeoff_segments.py
Due: black, flake8

Now FAST-OAD_CS25 0.2 is required.
  poetry.lock
  pyproject.toml
Due: sync_doc_requirements

Fixed test with ground effect by setting the TO at altitude=0 instead of 1000m. Need to enforce AoA definition for Polar
  src/fastoad/models/performances/mission/openmdao/tests/data/test_mission_takeoff.yml
  src/fastoad/models/performances/mission/openmdao/tests/test_mission_takeoff.py
Due: black, flake8

Updated OpenMDAO to 3.18 in dev environment.
  docs/requirements.txt
  poetry.lock
Due: sync_doc_requirements

Fixed integration tests after usage of CS25 0.2
  tests/integration_tests/oad_process/test_oad_process.py
Due: black, flake8

Updated codecov Github action.
  .github/workflows/tests.yml
Due: none

Updated to last Poetry version in Github workflows.
  .github/workflows/build_release.yml
  .github/workflows/tests.yml
Due: none

Using Ubuntu 20.04 in test workflow.
  .github/workflows/tests.yml
Due: none

Finalized integration of new polar for takeoff, added calculation of ground altitude in takeoff segments.
  src/fastoad/models/performances/mission/mission_definition/mission_builder/structure_builders.py
  src/fastoad/models/performances/mission/openmdao/tests/data/test_mission_takeoff.yml
  src/fastoad/models/performances/mission/openmdao/tests/test_mission_takeoff.py
  src/fastoad/models/performances/mission/polar_modifier.py
  src/fastoad/models/performances/mission/segments/base.py
  src/fastoad/models/performances/mission/segments/end_of_takeoff.py
  src/fastoad/models/performances/mission/segments/ground_speed_change.py
  src/fastoad/models/performances/mission/segments/rotation.py
Due: black, flake8

Added FAST-OAD logo in README.
  README.md
Due: none

Unnesting of the plot function
  src/fastoad/gui/mission_viewer.py
  src/fastoad/gui/tests/test_mission_viewer.py
  src/fastoad/source_files/__init__.py
Due: black, flake8

Updated code-climate action.
  .github/workflows/tests.yml
Due: none

Apply suggestions from code review
  src/fastoad/model_base/flight_point.py
  src/fastoad/models/performances/mission/polar.py
Due: black, flake8

Apply suggestions from code review
  src/fastoad/models/performances/mission/polar.py
Due: black, flake8

Update src/fastoad/models/performances/mission/segments/tests/test_takeoff_segments.py
  src/fastoad/models/performances/mission/segments/tests/test_takeoff_segments.py
Due: black, flake8

Added only takeoff segments and polar.
  src/fastoad/model_base/flight_point.py
  src/fastoad/models/performances/mission/polar.py
  src/fastoad/models/performances/mission/polar_modifier.py
  src/fastoad/models/performances/mission/segments/base.py
  src/fastoad/models/performances/mission/segments/end_of_takeoff.py
  src/fastoad/models/performances/mission/segments/ground_speed_change.py
  src/fastoad/models/performances/mission/segments/rotation.py
  src/fastoad/models/performances/mission/segments/tests/test_takeoff_segments.py
Due: black, flake8

Applied modifications according to https://github.com/fast-aircraft-design/FAST-OAD/pull/481#pullrequestreview-1297344180
  src/fastoad/models/performances/mission/polar.py
  src/fastoad/models/performances/mission/polar_modifier.py
  src/fastoad/models/performances/mission/segments/base.py
  src/fastoad/models/performances/mission/segments/end_of_takeoff.py
  src/fastoad/models/performances/mission/segments/ground_speed_change.py
  src/fastoad/models/performances/mission/segments/rotation.py
  src/fastoad/models/performances/mission/segments/tests/test_takeoff_segments.py
Due: black, flake8

Applied modifications according to https://github.com/fast-aircraft-design/FAST-OAD/pull/481#pullrequestreview-1303124283
  src/fastoad/models/performances/mission/polar.py
Due: black, flake8

Removed useless fixture
  src/conftest.py
  src/fastoad/cmd/tests/test_api.py
  src/fastoad/cmd/tests/test_cli.py
  src/fastoad/module_management/tests/test_plugins.py
  tests/dummy_plugins/dist_1/dummy_plugin_4/source_files/dummy_source_4-1.xml
  tests/dummy_plugins/dist_2/dummy_plugin_3/source_files/__init__.py
  tests/dummy_plugins/dist_2/dummy_plugin_3/source_files/dummy_source_3-1.xml
  tests/dummy_plugins/dist_2/dummy_plugin_3/source_files/dummy_source_3-2.xml
  tests/dummy_plugins/dist_2/dummy_plugin_3/source_files/dummy_source_3-3.xml
  tests/dummy_plugins/dist_3/dummy_plugin_5/source_files/dummy_source_5-1.xml
  tests/dummy_plugins/dist_3/dummy_plugin_5/source_files/dummy_source_5-2.xml
  tests/dummy_plugins/dist_3/dummy_plugin_5/source_files/dummy_source_5-3.xml
Due: black, flake8

Test function name update
  src/fastoad/cmd/tests/test_api.py
Due: black, flake8

Refactoring of the generation of configuration and data source file
  src/fastoad/cmd/api.py
  src/fastoad/cmd/exceptions.py
  src/fastoad/cmd/tests/test_api.py
  src/fastoad/module_management/exceptions.py
Due: black, flake8

Changed mention of source file to source data file
  src/fastoad/api.py
  src/fastoad/cmd/api.py
  src/fastoad/cmd/cli.py
  src/fastoad/cmd/tests/test_api.py
  src/fastoad/cmd/tests/test_cli.py
  src/fastoad/module_management/_plugins.py
  src/fastoad/module_management/exceptions.py
  src/fastoad/module_management/tests/test_plugins.py
  src/fastoad/source_data_files/__init__.py
  tests/dummy_plugins/dist_1/dummy_plugin_4/source_data_files/__init__.py
  tests/dummy_plugins/dist_1/dummy_plugin_4/source_data_files/dummy_source_data_4-1.xml
  tests/dummy_plugins/dist_2/dummy_plugin_3/source_data_files/__init__.py
  tests/dummy_plugins/dist_2/dummy_plugin_3/source_data_files/dummy_source_data_3-1.xml
  tests/dummy_plugins/dist_2/dummy_plugin_3/source_data_files/dummy_source_data_3-2.xml
  tests/dummy_plugins/dist_2/dummy_plugin_3/source_data_files/dummy_source_data_3-3.xml
Due: black, flake8

Fixed lazy formatting
  src/fastoad/cmd/api.py
Due: black, flake8

Copyright and comment update
  src/fastoad/cmd/tests/test_api.py
  src/fastoad/gui/mission_viewer.py
  tests/dummy_plugins/dist_1/dummy_plugin_4/source_data_files/__init__.py
  tests/dummy_plugins/dist_2/dummy_plugin_3/source_data_files/__init__.py
Due: black, flake8

user_file_type as enum
  src/fastoad/cmd/api.py
  src/fastoad/cmd/exceptions.py
  src/fastoad/cmd/tests/test_api.py
Due: black, flake8

Back to Poetry 1.1.15 in test workflow.
  .github/workflows/tests.yml
Due: none

Added payload-range plot test
  src/fastoad/gui/tests/data/problem_outputs.xml
  src/fastoad/gui/tests/test_analysis_and_plots.py
Due: black, flake8

Changed kwarg handling for plotting heatmap
  src/fastoad/gui/analysis_and_plots.py
  src/fastoad/gui/tests/test_analysis_and_plots.py
Due: black, flake8

Corrected too long docstring
  src/fastoad/gui/analysis_and_plots.py
Due: black, flake8

Corrected units nm vs NM
  src/fastoad/gui/analysis_and_plots.py
Due: black, flake8

Added payload-range plot
  src/fastoad/gui/__init__.py
  src/fastoad/gui/analysis_and_plots.py
Due: black, flake8

Removed contour hovering with variable of interest value
  src/fastoad/gui/analysis_and_plots.py
Due: black, flake8

Updated test data with latest model output
  src/fastoad/gui/tests/data/problem_outputs.xml
Due: none
