Repository fast-aircraft-design/FAST-OAD: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, flake8, sync_doc_requirements, nbstripout

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:

      - id: black
        name: black
        language: system
        entry: black
        types: [ python ]

      - id: flake8
        name: flake8
        language: system
        entry: flake8
        types: [ python ]

      - id: sync_doc_requirements
        name: sync_doc_requirements
        entry: poetry export --dev --without-hashes -o docs/requirements.txt -f requirements.txt
        language: python
        pass_filenames: false
        files: 'poetry.lock'

      - id: nbstripout
        name: nbstripout
        description: 'nbstripout: strip output from Jupyter and IPython notebooks'
        entry: nbstripout
        language: python
        types: [ jupyter ]

Added tests for missions with ground effect.
  src/fastoad/models/performances/mission/mission_definition/mission_builder/constants.py
  src/fastoad/models/performances/mission/openmdao/tests/data/test_mission.xml
  src/fastoad/models/performances/mission/openmdao/tests/data/test_mission_takeoff.yml
  src/fastoad/models/performances/mission/openmdao/tests/test_mission_takeoff.py
Due: black, flake8

Removed alpha parameter for GroundSegment
  src/fastoad/model_base/flight_point.py
  src/fastoad/models/performances/mission/segments/base.py
  src/fastoad/models/performances/mission/segments/ground_speed_change.py
Due: black, flake8

Minor fix on FlightSequence class.
  src/fastoad/models/performances/mission/base.py
Due: black, flake8

Using takeoff "super-segment" in mission file.
  src/fastoad/models/performances/mission/openmdao/tests/data/test_mission_takeoff.yml
  src/fastoad/models/performances/mission/segments/takeoff/takeoff.py
Due: black, flake8

Factorized computation of next angle of attack.
  src/fastoad/models/performances/mission/segments/base.py
  src/fastoad/models/performances/mission/segments/takeoff/end_of_takeoff.py
  src/fastoad/models/performances/mission/segments/takeoff/rotation.py
Due: black, flake8

Fixed result folder in tests.
  src/fastoad/models/performances/mission/openmdao/tests/test_mission.py
  src/fastoad/models/performances/mission/openmdao/tests/test_mission_takeoff.py
  src/fastoad/models/performances/mission/openmdao/tests/test_with_custom_segment.py
Due: black, flake8

Now using Poetry dynamic versioning.
  .github/workflows/build_release.yml
  pyproject.toml
  release/pyproject.toml
Due: none

Updated pyproject.toml using dependency groups.
  docs/requirements.txt
  poetry.lock
  pyproject.toml
Due: sync_doc_requirements

Introduced genericity for macro-segments.
  src/fastoad/models/performances/mission/segments/macro_segments.py
  src/fastoad/models/performances/mission/segments/takeoff/takeoff.py
Due: black, flake8

Updated pylint settings.
  .pylintrc
Due: none

Reorganised the 'segments' package.
  src/fastoad/api.py
  src/fastoad/models/performances/mission/mission.py
  src/fastoad/models/performances/mission/mission_definition/mission_builder/tests/test_mission_builder.py
  src/fastoad/models/performances/mission/openmdao/mission_run.py
  src/fastoad/models/performances/mission/routes.py
  src/fastoad/models/performances/mission/segments/__init__.py
  src/fastoad/models/performances/mission/segments/base.py
  src/fastoad/models/performances/mission/segments/registered/__init__.py
  src/fastoad/models/performances/mission/segments/registered/altitude_change.py
  src/fastoad/models/performances/mission/segments/registered/cruise.py
  src/fastoad/models/performances/mission/segments/registered/ground_speed_change.py
  src/fastoad/models/performances/mission/segments/registered/hold.py
  src/fastoad/models/performances/mission/segments/registered/mass_input.py
  src/fastoad/models/performances/mission/segments/registered/speed_change.py
  src/fastoad/models/performances/mission/segments/registered/start.py
  src/fastoad/models/performances/mission/segments/registered/takeoff/__init__.py
  src/fastoad/models/performances/mission/segments/registered/takeoff/end_of_takeoff.py
  src/fastoad/models/performances/mission/segments/registered/takeoff/rotation.py
  src/fastoad/models/performances/mission/segments/registered/takeoff/takeoff.py
  src/fastoad/models/performances/mission/segments/registered/taxi.py
  src/fastoad/models/performances/mission/segments/registered/tests/__init__.py
  src/fastoad/models/performances/mission/segments/registered/tests/conftest.py
  src/fastoad/models/performances/mission/segments/registered/tests/test_altitude_change.py
  src/fastoad/models/performances/mission/segments/registered/tests/test_cruise.py
  src/fastoad/models/performances/mission/segments/registered/tests/test_hold.py
  src/fastoad/models/performances/mission/segments/registered/tests/test_mass_target.py
  src/fastoad/models/performances/mission/segments/registered/tests/test_speed_change.py
  src/fastoad/models/performances/mission/segments/registered/tests/test_start.py
  src/fastoad/models/performances/mission/segments/registered/tests/test_takeoff_segments.py
  src/fastoad/models/performances/mission/segments/registered/tests/test_taxi.py
  src/fastoad/models/performances/mission/segments/registered/tests/test_transition.py
  src/fastoad/models/performances/mission/segments/registered/transition.py
  src/fastoad/models/performances/mission/segments/time_step_base.py
  src/fastoad/models/performances/mission/tests/conftest.py
  src/fastoad/models/performances/mission/tests/test_flight_sequence.py
  src/fastoad/models/performances/mission/tests/test_mission.py
  src/fastoad/models/performances/mission/tests/test_routes.py
Due: black, flake8

Added a description of the rationale for building missions.
  src/fastoad/models/performances/mission/mission_definition/mission_builder/mission_builder.py
Due: black, flake8

Removed useless parameter in TakeOffSequence
  src/fastoad/models/performances/mission/segments/registered/takeoff/takeoff.py
Due: black, flake8

Minor fix
  src/fastoad/api.py
Due: black, flake8

Sphinx dependencies back in docs/requirements.txt
  .pre-commit-config.yaml
  docs/requirements.txt
Due: none

Documentation added
  docs/documentation/mission_module/mission_file/mission_file.rst
  docs/documentation/mission_module/mission_file/segments.rst
Due: none

Added doc for TakeoffSequence
  docs/documentation/mission_module/mission_file/segments.rst
Due: none

Fixed some problems in Sphinx doc.
  docs/conf.py
  docs/documentation/mission_module/extensibility/adding_segments.rst
  docs/documentation/mission_module/mission_file/index.rst
  docs/documentation/mission_module/mission_file/segments.rst
  docs/documentation/mission_module/mission_file/setting_values.rst
  docs/documentation/usage.rst
Due: black, flake8

Minor fixes.
  docs/documentation/mission_module/mission_file/segments.rst
  src/fastoad/models/performances/mission/openmdao/tests/data/test_mission_takeoff.yml
  src/fastoad/models/performances/mission/polar_modifier.py
Due: black, flake8

Updated CHANGELOG.rst
  CHANGELOG.rst
Due: none

Enhanced deprecation of compute_TOW option in mission module
  src/fastoad/models/performances/mission/openmdao/mission.py
Due: black, flake8

Fixed SettingWithCopyWarning from pandas.
  src/fastoad/models/performances/mission/mission.py
Due: black, flake8

Added test for DataFile.from_problem()
  src/fastoad/io/tests/test_data_file.py
Due: black, flake8

Fixed output class of DataFile.from_problem()
  src/fastoad/openmdao/variables/variable_list.py
Due: black, flake8

Fixed obtained values in from_problem()
  src/fastoad/openmdao/variables/variable_list.py
Due: black, flake8

Code for obtaining variables from problem has been moved outside of VariableList.
  src/fastoad/openmdao/variables/_util.py
  src/fastoad/openmdao/variables/variable_list.py
Due: black, flake8

A bit of reorganization.
  src/fastoad/openmdao/variables/_util.py
  src/fastoad/openmdao/variables/variable_list.py
Due: black, flake8

Updated poetry.lock to get fast-oad-cs25 0.3.
  poetry.lock
Due: sync_doc_requirements

First commit of DOE
  src/fastoad/openmdao/doe.py
Due: black, flake8

Added tutorial notebook
  poetry.lock
  src/fastoad/notebooks/01_Quick_start/beam_problem.ipynb
  src/fastoad/notebooks/03_Design_of_Experiments/data/__init__.py
  src/fastoad/notebooks/03_Design_of_Experiments/data/beam_problem.yml
  src/fastoad/notebooks/03_Design_of_Experiments/data/beam_problem_stress.yml
  src/fastoad/notebooks/03_Design_of_Experiments/data/doe.csv
  src/fastoad/notebooks/03_Design_of_Experiments/data/problem_inputs.xml
  src/fastoad/notebooks/03_Design_of_Experiments/data/problem_inputs_stress.xml
  src/fastoad/notebooks/03_Design_of_Experiments/doe_module.ipynb
  src/fastoad/notebooks/03_Design_of_Experiments/modules/__init__.py
  src/fastoad/notebooks/03_Design_of_Experiments/modules/displacements.py
  src/fastoad/notebooks/03_Design_of_Experiments/modules/section_properties.py
  src/fastoad/notebooks/03_Design_of_Experiments/modules/stresses.py
  src/fastoad/notebooks/03_Design_of_Experiments/modules/variable_descriptions.txt
  src/fastoad/notebooks/03_Design_of_Experiments/modules/weight.py
Due: black, flake8, sync_doc_requirements, nbstripout

Fixed non-regression tests.
  tests/integration_tests/oad_process/test_oad_process.py
Due: black, flake8

Now skipping WhatsOpt test by default
  .github/workflows/watchman_tests.yml
  src/fastoad/openmdao/tests/test_whatsopt.py
Due: black, flake8

Back to ubuntu-latest in tests.yml workflow
  .github/workflows/tests.yml
Due: none

Updated README.md
  README.md
Due: none

Dev environment now compatible with Python 3.10
  .github/workflows/build_release.yml
  .github/workflows/tests.yml
  .github/workflows/watchman_tests.yml
  docs/requirements.txt
  poetry.lock
  pyproject.toml
Due: sync_doc_requirements

Back to ubuntu-20.04 in tests.yml workflow
  .github/workflows/tests.yml
Due: none

Fixed pre-commit config
  .pre-commit-config.yaml
Due: none
