Repository fast-aircraft-design/FAST-OAD: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, flake8, sync_doc_requirements, nbstripout

black:
  name: black
  language: system
  entry: poetry run black

flake8:
  name: flake8
  language: system
  entry: poetry run flake8

sync_doc_requirements:
  name: sync_doc_requirements
  entry: poetry export --with doc --without-hashes -o docs/requirements.txt -f requirements.txt
  language: system
  pass_filenames: false

nbstripout:
  name: nbstripout
  description: 'nbstripout: strip output from Jupyter and IPython notebooks'
  entry: nbstripout
  language: system

review corrections
  .pre-commit-config.yaml
  src/fastoad/gui/analysis_and_plots.py
  src/fastoad/gui/tests/data/problem_outputs_multi_mission.xml
  src/fastoad/gui/tests/test_analysis_and_plots.py
Due: black, flake8

precommit rollback
  .pre-commit-config.yaml
Due: none

Addition of a method to update the mission viewer layout before displaying it.
  src/fastoad/gui/mission_viewer.py
  src/fastoad/gui/tests/test_mission_viewer.py
Due: black, flake8

Added dependency to Panel
  docs/requirements.txt
  poetry.lock
  pyproject.toml
Due: sync_doc_requirements

Updated test workflows
  .github/workflows/tests.yml
  .github/workflows/watchman_tests.yml
Due: none

fix tests
  src/fastoad/gui/tests/test_analysis_and_plots.py
Due: black, flake8

test
  src/fastoad/gui/dashboard/__init__.py
  src/fastoad/gui/dashboard/config_viewer/__init__.py
  src/fastoad/gui/dashboard/config_viewer/option_viewer.py
Due: black, flake8

test
  src/fastoad/gui/dashboard/config_viewer/option_viewer.py
Due: black, flake8

Added standardized function for sunburst mass labels
  src/fastoad/gui/analysis_and_plots.py
Due: black, flake8

Simplified strings
  src/fastoad/gui/analysis_and_plots.py
Due: black, flake8

Separated generation of sunburst plots for TOW and OWE.
  src/fastoad/gui/analysis_and_plots.py
Due: black, flake8

Minor additional refactoring
  src/fastoad/gui/analysis_and_plots.py
Due: black, flake8

Removed some blank lines
  src/fastoad/gui/analysis_and_plots.py
Due: black, flake8

Removed duplicate copyright
  src/fastoad/openmdao/exceptions.py
Due: black, flake8

Fixed exception name.
  src/fastoad/openmdao/exceptions.py
  src/fastoad/openmdao/problem.py
  src/fastoad/openmdao/tests/test_problem.py
Due: black, flake8

Minor change
  src/fastoad/openmdao/tests/data/missing_inputs.xml
Due: none

Added test for setting output values before computation.
  src/fastoad/openmdao/tests/data/ref_inputs_outputs.xml
  src/fastoad/openmdao/tests/test_problem.py
Due: black, flake8

Now output values can be set before computation.
  src/fastoad/io/configuration/tests/data/ref_inputs.xml
  src/fastoad/openmdao/problem.py
Due: black, flake8

Better explanation of test logic (hopefully)
  src/fastoad/openmdao/tests/openmdao_sellar_example/disc2.py
  src/fastoad/openmdao/tests/test_problem.py
Due: black, flake8

A bit more clarity :)
  src/fastoad/openmdao/tests/openmdao_sellar_example/disc2.py
  src/fastoad/openmdao/tests/test_problem.py
Due: black, flake8

Using last version of Panel (forces Python >=3.9)
  .github/workflows/tests.yml
  docs/requirements.txt
  poetry.lock
  pyproject.toml
Due: sync_doc_requirements

WIP
  src/fastoad/gui/dashboard/app.py
Due: black, flake8

Fixed incompatibility with OpenMDAO 3.34
  src/fastoad/openmdao/validity_checker.py
Due: black, flake8

Updated CHANGELOG.rst
  CHANGELOG.rst
Due: none

Re-enabled dynamic versioning
  pyproject.toml
Due: none

Updated pyproject for FAST-OAD (i.e. not FAST-OAD-core)
  release/pyproject.toml
Due: none

Now api.generate_inputs() allows to include output variables.
  src/fastoad/cmd/api.py
  src/fastoad/cmd/tests/data/inputs.xml
  src/fastoad/cmd/tests/test_api.py
  src/fastoad/io/configuration/configuration.py
  src/fastoad/openmdao/problem.py
Due: black, flake8

Now writing outputs in input files of integration tests.
  tests/integration_tests/oad_process/test_oad_process.py
Due: black, flake8

FASTOADProblem.write_needed_inputs() can now write output variables.
  src/fastoad/openmdao/problem.py
  src/fastoad/openmdao/tests/data/ref_inputs_outputs.xml
  src/fastoad/openmdao/tests/test_problem.py
Due: black, flake8

Now CLI gen_inputs allows to include output variables.
  src/fastoad/cmd/cli.py
  src/fastoad/cmd/tests/data/inputs.xml
  src/fastoad/cmd/tests/test_cli.py
Due: black, flake8

Updated VariableList.update()
  src/fastoad/openmdao/tests/test_variables.py
  src/fastoad/openmdao/variables/variable_list.py
Due: black, flake8

Put the layout parameters directly into mission viewer 'display' method
  src/fastoad/gui/mission_viewer.py
  src/fastoad/gui/tests/test_mission_viewer.py
Due: black, flake8

Now using ruff instead of black, flake8 and pylint
  .github/workflows/tests.yml
  poetry.lock
  pyproject.toml
Due: sync_doc_requirements

Path conditions:
  black: any of: \.py$
  flake8: any of: \.py$
  sync_doc_requirements: any of: poetry.lock
  nbstripout: any of: \.ipynb$
