Repository fast-aircraft-design/FAST-OAD: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, flake8, sync_doc_requirements, nbstripout

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:

      - id: black
        name: black
        language: system
        entry: poetry run black
        types: [ python ]

      - id: flake8
        name: flake8
        language: system
        entry: poetry run flake8
        types: [ python ]

      - id: sync_doc_requirements
        name: sync_doc_requirements
        entry: poetry export --with doc --without-hashes -o docs/requirements.txt -f requirements.txt
        language: system
        pass_filenames: false
        files: 'poetry.lock'

      - id: nbstripout
        name: nbstripout
        description: 'nbstripout: strip output from Jupyter and IPython notebooks'
        entry: nbstripout
        language: system
        types: [ jupyter ]

Updated pre-commit configuration
  .pre-commit-config.yaml
  poetry.lock
  pyproject.toml
Due: sync_doc_requirements

Applied ruff rules
  src/fastoad/cmd/tests/test_cli.py
  src/fastoad/gui/__init__.py
  src/fastoad/gui/tests/test_analysis_and_plots.py
  src/fastoad/io/__init__.py
  src/fastoad/io/configuration/__init__.py
  src/fastoad/io/configuration/tests/test_configuration.py
  src/fastoad/io/xml/__init__.py
  src/fastoad/model_base/__init__.py
  src/fastoad/model_base/tests/test_atmosphere.py
  src/fastoad/model_base/tests/test_flight_point.py
  src/fastoad/models/performances/mission/mission_definition/mission_builder/input_definition.py
  src/fastoad/models/performances/mission/openmdao/tests/test_mission.py
  src/fastoad/models/performances/mission/openmdao/tests/test_mission_takeoff.py
  src/fastoad/models/performances/mission/openmdao/tests/test_with_custom_segment.py
  src/fastoad/models/performances/mission/tests/conftest.py
  src/fastoad/module_management/_plugins.py
  src/fastoad/module_management/tests/test_bundle_loader.py
  src/fastoad/module_management/tests/test_plugins.py
  src/fastoad/module_management/tests/test_register_specialized_service.py
  src/fastoad/notebooks/01_Quick_start/beam_problem.ipynb
  src/fastoad/notebooks/01_Quick_start/modules/section_properties.py
  src/fastoad/notebooks/01_Quick_start/modules/weight.py
  src/fastoad/notebooks/02_From_Python_to_FAST-OAD/02_pure_Python.ipynb
  src/fastoad/notebooks/02_From_Python_to_FAST-OAD/05_FAST-OAD.ipynb
  src/fastoad/notebooks/02_From_Python_to_FAST-OAD/modules/OpenMDAO/mass/sub_components/compute_owe_exercise.py
  src/fastoad/notebooks/02_From_Python_to_FAST-OAD/modules/OpenMDAO/mass/sub_components/compute_wing_mass.py
  src/fastoad/openmdao/tests/test_variables.py
  src/fastoad/openmdao/validity_checker.py
  src/fastoad/openmdao/variables/__init__.py
Due: black, flake8, nbstripout

Updated GitHub workflow
  .github/workflows/tests.yml
Due: none

Adjusted CodeClimate conf.
  .codeclimate.yml
Due: none

Optimized imports
  devutils/rename_vars.py
  src/fastoad/_utils/resource_management/copy.py
  src/fastoad/_utils/sellar/function_f.py
  src/fastoad/api.py
  src/fastoad/cmd/api.py
  src/fastoad/cmd/cli.py
  src/fastoad/gui/__init__.py
  src/fastoad/gui/optimization_viewer.py
  src/fastoad/io/configuration/tests/data/conf_sellar_example/functions.py
  src/fastoad/io/formatter.py
  src/fastoad/io/tests/test_data_file.py
  src/fastoad/io/xml/variable_io_base.py
  src/fastoad/io/xml/variable_io_standard.py
  src/fastoad/module_management/tests/data/dummy_pelix_bundles/hello_world_with_decorators.py
  src/fastoad/notebooks/02_From_Python_to_FAST-OAD/modules/FAST-OAD/aerodynamics/aerodynamics.py
  src/fastoad/notebooks/02_From_Python_to_FAST-OAD/modules/FAST-OAD/geometry/geometry.py
  src/fastoad/notebooks/02_From_Python_to_FAST-OAD/modules/FAST-OAD/mass/mass.py
  src/fastoad/notebooks/02_From_Python_to_FAST-OAD/modules/FAST-OAD/mtow_loop.py
  src/fastoad/notebooks/02_From_Python_to_FAST-OAD/modules/FAST-OAD/performance/performance.py
  src/fastoad/notebooks/02_From_Python_to_FAST-OAD/modules/FAST-OAD/update_mtow/update_mtow.py
  src/fastoad/notebooks/02_From_Python_to_FAST-OAD/modules/OpenMDAO/aerodynamics/aerodynamics.py
  src/fastoad/notebooks/02_From_Python_to_FAST-OAD/modules/OpenMDAO/aerodynamics/sub_components/compute_lift_to_drag_ratio.py
  src/fastoad/notebooks/02_From_Python_to_FAST-OAD/modules/OpenMDAO/mass/mass.py
  src/fastoad/notebooks/02_From_Python_to_FAST-OAD/modules/OpenMDAO/mtow_loop.py
  src/fastoad/notebooks/02_From_Python_to_FAST-OAD/modules/OpenMDAO/performance/sub_components/compute_fuel_mass.py
  src/fastoad/notebooks/02_From_Python_to_FAST-OAD/modules/pure_python/aerodynamics/aerodynamics.py
  src/fastoad/notebooks/02_From_Python_to_FAST-OAD/modules/pure_python/mass/mass.py
  src/fastoad/notebooks/02_From_Python_to_FAST-OAD/modules/pure_python/mtow_and_fuel_loop.py
  src/fastoad/notebooks/02_From_Python_to_FAST-OAD/modules/pure_python/mtow_loop.py
  src/fastoad/notebooks/02_From_Python_to_FAST-OAD/modules/python_for_scipy/compute_fuel_scipy.py
  src/fastoad/notebooks/02_From_Python_to_FAST-OAD/modules/python_for_scipy/mtow_loop_scipy.py
  src/fastoad/notebooks/02_From_Python_to_FAST-OAD/modules/widget.py
Due: black, flake8

Updated README.md
  README.md
Due: none

Adjusted CodeCov conf.
  codecov.yml
Due: none

A bit less of Pylint
  .codeclimate.yml
  .pylintrc
  pyproject.toml
  src/fastoad/api.py
  src/fastoad/gui/__init__.py
  src/fastoad/io/__init__.py
  src/fastoad/io/configuration/__init__.py
  src/fastoad/io/xml/__init__.py
  src/fastoad/model_base/__init__.py
  src/fastoad/models/performances/mission/segments/registered/__init__.py
  src/fastoad/models/performances/mission/segments/registered/takeoff/__init__.py
  src/fastoad/openmdao/variables/__init__.py
  tests/conftest.py
Due: black, flake8

test coverage is no more activated by default.
  .github/workflows/tests.yml
  pyproject.toml
Due: none

Import put back in notebook exercise.
  src/fastoad/notebooks/02_From_Python_to_FAST-OAD/modules/OpenMDAO/mass/sub_components/compute_owe_exercise.py
Due: black, flake8

Slight rework of XML reading
  src/fastoad/io/xml/tests/data/custom.xml
  src/fastoad/io/xml/variable_io_base.py
Due: black, flake8

WIP
  src/fastoad/io/xml/tests/data/custom_additional_var.xml
  src/fastoad/io/xml/variable_io_base.py
Due: black, flake8

WIP
  src/fastoad/io/xml/variable_io_base.py
Due: black, flake8

Small fix for test workflow
  .github/workflows/tests.yml
Due: none

Added method to make a local run case
  src/fastoad/__init__.py
  src/fastoad/io/configuration/configuration.py
  src/fastoad/io/configuration/tests/data/valid_sellar.toml
  src/fastoad/io/configuration/tests/data/valid_sellar.yml
  src/fastoad/io/configuration/tests/test_configuration.py
Due: black, flake8

Now using make_local() in integration test.
  tests/integration_tests/oad_process/data/mission_definition/sizing_breguet.yml
  tests/integration_tests/oad_process/data/oad_process.yml
  tests/integration_tests/oad_process/test_oad_process.py
Due: black, flake8

Renaming, comments, and slight enhancements.
  src/fastoad/api.py
  src/fastoad/cmd/calc_runner.py
  src/fastoad/cmd/tests/test_calc_runner.py
  src/fastoad/openmdao/problem.py
Due: black, flake8

Can now keep existing runs.
  src/fastoad/cmd/calc_runner.py
  src/fastoad/cmd/tests/test_calc_runner.py
Due: black, flake8

Introduced calc runner
  src/fastoad/api.py
  src/fastoad/cmd/calc_runner.py
  src/fastoad/cmd/tests/data/sellar2.yml
  src/fastoad/cmd/tests/test_calc_runner.py
  src/fastoad/openmdao/problem.py
Due: black, flake8

Now can provide an input file for run case.
  src/fastoad/cmd/calc_runner.py
Due: black, flake8

Slight modifications
  src/fastoad/cmd/calc_runner.py
Due: black, flake8

Minor refactoring
  src/fastoad/cmd/calc_runner.py
Due: black, flake8

Workflow fix
  .github/workflows/tests.yml
Due: none

Replaced quadatric interp1d interpolation
  src/fastoad/models/performances/mission/polar.py
Due: black, flake8

Replaced linear interp1d interpolation
  src/fastoad/models/performances/mission/polar.py
Due: black, flake8

Removed unneeded line
  poetry.lock
  pyproject.toml
Due: sync_doc_requirements

Now using Python 3.10 for Sphinx build
  .readthedocs.yaml
  docs/requirements.txt
  poetry.lock
  pyproject.toml
Due: sync_doc_requirements

Added methods to get field descriptors
  src/fastoad/model_base/flight_point.py
  src/fastoad/model_base/tests/test_flight_point.py
Due: black, flake8

Updated documentation
  docs/documentation/mission_module/extensibility/flight_point.rst
  src/fastoad/model_base/flight_point.py
Due: black, flake8

Minor fix for csv names
  src/fastoad/models/performances/mission/openmdao/mission_run.py
Due: black, flake8

Reordered methods
  src/fastoad/model_base/flight_point.py
Due: black, flake8

Now using get_unit() instead of get_units() when needed.
  src/fastoad/gui/mission_viewer.py
  src/fastoad/models/performances/mission/mission_definition/mission_builder/input_definition.py
Due: black, flake8

Minor simplification.
  src/fastoad/model_base/flight_point.py
  src/fastoad/model_base/tests/test_flight_point.py
Due: black, flake8

Added metadata to FlighPoint fields.
  src/fastoad/model_base/flight_point.py
Due: black, flake8

Minor refactoring
  src/fastoad/model_base/flight_point.py
Due: black, flake8

Fixed name shadowing
  src/fastoad/model_base/flight_point.py
Due: black, flake8

Fixed bug : metadata were lost when adding/removing fields.
  src/fastoad/model_base/flight_point.py
Due: black, flake8

Added new test for FlightPoint
  src/fastoad/model_base/tests/test_flight_point.py
Due: black, flake8

Minor fix in Sphinx doc
  docs/documentation/mission_module/extensibility/flight_point.rst
Due: none
