Repository fast-aircraft-design/FAST-OAD: changes, and which pre-commit hooks are due for each by the changed paths.
All: nbstripout, license-headers-fix

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/python-poetry/poetry
    rev: '2.1.3'
    hooks:
      - id: poetry-check
  - repo: https://github.com/python-poetry/poetry-plugin-export
    rev: '1.9.0'
    hooks:
      - id: poetry-export # Hooks copied from https://python-poetry.org/docs/pre-commit-hooks/#poetry-export
        args: [ "--with", "doc", "--without-hashes", "-o", "docs/requirements.txt", "-f", "requirements.txt" ]
        files: 'poetry.lock'
        verbose: true
  - repo: local
    hooks:
      # Ruff hooks are copied from https://github.com/astral-sh/ruff-pre-commit, but specifying
      # a local repo ensures using locked version of Ruff in Poetry.
      - id: ruff
        name: ruff
        description: "Run 'ruff' for extremely fast Python linting"
        entry: ruff check --force-exclude
        language: python
        types_or: [ python, pyi, jupyter ]
        args: [ ]
        require_serial: true
        additional_dependencies: [ ]
      - id: ruff-format
        name: ruff-format
        description: "Run 'ruff format' for extremely fast Python formatting"
        entry: ruff format --force-exclude
        language: python
        types_or: [ python, pyi, jupyter ]
        args: [ ]
        require_serial: true
        additional_dependencies: [ ]

      - id: nbstripout
        name: nbstripout
        description: 'nbstripout: strip output from Jupyter and IPython notebooks'
        entry: poetry run nbstripout
        language: system
        types: [ jupyter ]
        require_serial: true

      - id: license-headers-fix
        name: License headers (auto-fix)
        entry: python devutils/license-upgrade.py
        language: python
        files: '^(src|tests)/.*\.py$'
        additional_dependencies: 
          - "git+https://github.com/Lucas-C/pre-commit-hooks.git@v1.5.5"
        require_serial: true
      
      - id: license-headers-check  
        name: License headers (check-only)
        entry: python devutils/license-upgrade.py --check
        language: python
        files: '^(src|tests)/.*\.py$'
        stages: [manual]
        additional_dependencies: 
          - "git+https://github.com/Lucas-C/pre-commit-hooks.git@v1.5.5"
        require_serial: true

added _safe_run method in calcrunner
  src/fastoad/cmd/calc_runner.py
Due: license-headers-fix

Climb take into account max cl, the clmib before the cruise now has the cruise phase name and prepended_climb
  src/fastoad/models/performances/mission/segments/registered/altitude_change.py
  src/fastoad/models/performances/mission/segments/registered/cruise.py
  src/fastoad/models/performances/mission/segments/time_step_base.py
Due: license-headers-fix

We now check for altitude during optimal_climb, additionally added warning for teletransportation
  src/fastoad/models/performances/mission/segments/registered/cruise.py
Due: license-headers-fix

added unit tests
  src/fastoad/models/performances/mission/segments/registered/cruise.py
  src/fastoad/models/performances/mission/segments/registered/tests/test_cruise.py
Due: license-headers-fix

fixed casting of _get_optimal_altitude, now it always outputs a float
  src/fastoad/models/performances/mission/segments/time_step_base.py
Due: license-headers-fix

formatting issues
  src/fastoad/models/performances/mission/segments/registered/altitude_change.py
Due: license-headers-fix

Typo - Update src/fastoad/models/performances/mission/segments/registered/altitude_change.py
  src/fastoad/models/performances/mission/segments/registered/altitude_change.py
Due: license-headers-fix

refactoring repeated logic in _get_altitude_cap()
  src/fastoad/models/performances/mission/segments/registered/cruise.py
Due: license-headers-fix

implemented copilot advices
  src/fastoad/models/performances/mission/segments/registered/altitude_change.py
  src/fastoad/models/performances/mission/segments/registered/cruise.py
  src/fastoad/models/performances/mission/segments/registered/tests/test_cruise.py
Due: license-headers-fix

added new tests for max cl
  src/fastoad/models/performances/mission/segments/registered/tests/test_cruise.py
Due: license-headers-fix

added 3.42 version as well
  poetry.lock
  pyproject.toml
Due: none

increased memeory testing
  tests/memory_tests/test_multiple_runs.py
Due: license-headers-fix

run pre-commit
  docs/requirements.txt
Due: none

add explicit unitless unit of meausre
  src/fastoad/_utils/sellar/disc1.py
  src/fastoad/_utils/sellar/disc2.py
  src/fastoad/_utils/sellar/function_f.py
  src/fastoad/_utils/sellar/functions_g.py
  src/fastoad/cmd/tests/data/cmd_sellar_example/sellar_components.py
  src/fastoad/io/configuration/tests/data/conf_sellar_example/disc1.py
  src/fastoad/io/configuration/tests/data/conf_sellar_example/disc2.py
  src/fastoad/io/configuration/tests/data/conf_sellar_example/functions.py
  src/fastoad/io/configuration/tests/data/conf_sellar_example/indep.py
  src/fastoad/model_base/propulsion.py
  src/fastoad/notebooks/02_From_Python_to_FAST-OAD/modules/OpenMDAO/aerodynamics/sub_components/compute_induced_drag_coefficient.py
  src/fastoad/notebooks/02_From_Python_to_FAST-OAD/modules/OpenMDAO/mass/sub_components/compute_wing_mass.py
  src/fastoad/notebooks/02_From_Python_to_FAST-OAD/modules/OpenMDAO/performance/sub_components/compute_fuel_mass.py
  tests/dummy_plugins/dist_2/dummy_plugin_2/models/subpackage/dummy_engine.py
Due: license-headers-fix

add unitless also in default mission ATTENTION: at this moment the branch is still WIP as there are multiple parameters that would need unitless units, while the yml parser do not permit that
  src/fastoad/models/performances/mission/openmdao/resources/sizing_breguet.yml
  src/fastoad/models/performances/mission/openmdao/resources/sizing_mission.yml
Due: none

enhance log clarity in src/fastoad/models/performances/mission/segments/registered/cruise.py
  src/fastoad/models/performances/mission/segments/registered/cruise.py
Due: license-headers-fix

reworked logic of altitude change with max cl
  src/fastoad/models/performances/mission/segments/registered/altitude_change.py
  src/fastoad/models/performances/mission/segments/registered/tests/test_altitude_change.py
Due: license-headers-fix

addressing : in comments
  src/fastoad/models/performances/mission/segments/registered/cruise.py
Due: license-headers-fix

improved log clarity
  src/fastoad/models/performances/mission/segments/registered/cruise.py
Due: license-headers-fix

completely reworked testing, now it is clearer
  src/fastoad/models/performances/mission/segments/registered/tests/test_cruise.py
Due: license-headers-fix

remove old conditional test done in _compute_next_altitude
  src/fastoad/models/performances/mission/segments/registered/cruise.py
Due: license-headers-fix

updated doc for cruise and optimal cruise
  docs/documentation/mission_module/mission_file/segments.rst
Due: none

restore sphinx doc and fix grammar
  src/fastoad/models/performances/mission/segments/registered/altitude_change.py
  src/fastoad/models/performances/mission/segments/registered/cruise.py
  src/fastoad/models/performances/mission/segments/registered/tests/test_altitude_change.py
  src/fastoad/models/performances/mission/segments/registered/tests/test_cruise.py
Due: license-headers-fix

limitation of mission segment duration to avoid unrealistic mission
  src/fastoad/models/performances/mission/segments/time_step_base.py
Due: license-headers-fix

HOTFIX: grammar in logging
  src/fastoad/models/performances/mission/segments/registered/altitude_change.py
  src/fastoad/models/performances/mission/segments/registered/cruise.py
Due: license-headers-fix

better handling of an edge case in which a cruise segment could not have a climbing_segment when set with optimal_flight_level
  src/fastoad/models/performances/mission/segments/registered/cruise.py
  src/fastoad/models/performances/mission/segments/registered/tests/test_cruise.py
Due: license-headers-fix

updated doc
  docs/documentation/mission_module/mission_file/segments.rst
Due: none

implemented review advices
  docs/documentation/mission_module/mission_file/segments.rst
  src/fastoad/models/performances/mission/segments/registered/cruise.py
Due: license-headers-fix

update changelog
  CHANGELOG.rst
  pyproject.toml
Due: none

HOTFIX fix publishing of FAST-OAD(non core) on poetry 2.0
  .github/workflows/build_release.yml
  release/pyproject.toml
Due: none

fix after copilot review
  .github/workflows/build_release.yml
  CHANGELOG.rst
Due: none

pinning jupyterlab-widgets==3.0.15 to fix ipywidgets>7.7.0 breaks install on Windows via Poetry (path too long) Fixes #665
  docs/requirements.txt
  poetry.lock
  pyproject.toml
Due: none

update dependency of cs25 for unit and integration tests
  docs/requirements.txt
  poetry.lock
  pyproject.toml
Due: none

update ruff
  poetry.lock
  pyproject.toml
Due: none

update notebooks to comply with numpy 2.3
  src/fastoad/notebooks/02_From_Python_to_FAST-OAD/03_scipy.ipynb
  src/fastoad/notebooks/02_From_Python_to_FAST-OAD/04_OpenMDAO.ipynb
  src/fastoad/notebooks/02_From_Python_to_FAST-OAD/05_FAST-OAD.ipynb
Due: nbstripout

update authors
  AUTHORS.rst
Due: none

remove old unused lint files
  .codeclimate.yml
  .pylintrc
  src/fastoad/module_management/tests/data/module_sellar_example/disc3/disc3.py
  src/fastoad/module_management/tests/data/module_sellar_example/disc4/disc4.py
  tox.ini
Due: license-headers-fix

remove pycodestyle legacy rules E4, E7 and E9 from ruff.toml configuration file
  ruff.toml
Due: none
