Repository fast-aircraft-design/FAST-OAD: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, flake8, sync_doc_requirements

black:
  name: black
  language: system
  entry: black

flake8:
  name: flake8
  language: system
  entry: flake8

sync_doc_requirements:
  name: sync_doc_requirements
  entry: poetry export --dev --without-hashes -o docs/requirements.txt -f requirements.txt
  language: python
  pass_filenames: false

Changed identification of plugins
  src/conftest.py
  src/fastoad/cmd/api.py
  src/fastoad/cmd/cli.py
  src/fastoad/cmd/tests/test_api.py
  src/fastoad/cmd/tests/test_cli.py
  src/fastoad/module_management/_plugins.py
  src/fastoad/module_management/tests/test_plugins.py
  tests/dummy_plugins/dist_1/__init__.py
  tests/dummy_plugins/dist_1/dummy_plugin_1/__init__.py
  tests/dummy_plugins/dist_1/dummy_plugin_1/configurations/__init__.py
  tests/dummy_plugins/dist_1/dummy_plugin_1/configurations/dummy_conf_1-1.yml
  tests/dummy_plugins/dist_1/dummy_plugin_4/__init__.py
  tests/dummy_plugins/dist_1/dummy_plugin_4/notebooks/__init__.py
  tests/dummy_plugins/dist_2/__init__.py
  tests/dummy_plugins/dist_2/dummy_plugin_2/__init__.py
  tests/dummy_plugins/dist_2/dummy_plugin_2/configurations/__init__.py
  tests/dummy_plugins/dist_2/dummy_plugin_2/configurations/dummy_conf_2-1.yml
  tests/dummy_plugins/dist_2/dummy_plugin_3/__init__.py
  tests/dummy_plugins/dist_2/dummy_plugin_3/configurations/__init__.py
  tests/dummy_plugins/dist_2/dummy_plugin_3/configurations/dummy_conf_3-1.yml
  tests/dummy_plugins/dist_2/dummy_plugin_3/configurations/dummy_conf_3-2.yaml
  tests/dummy_plugins/dist_2/dummy_plugin_3/models/__init__.py
  tests/dummy_plugins/dist_2/dummy_plugin_3/models/declared_dummy_components.py
  tests/dummy_plugins/dist_2/dummy_plugin_3/models/decorated_dummy_components.py
  tests/dummy_plugins/dist_2/dummy_plugin_3/models/register.py
  tests/dummy_plugins/dist_2/dummy_plugin_3/models/subpackage/__init__.py
  tests/dummy_plugins/dist_2/dummy_plugin_3/models/subpackage/decorated_dummy_components.py
  tests/dummy_plugins/dist_2/dummy_plugin_3/models/variable_descriptions.txt
  tests/dummy_plugins/dist_2/dummy_plugin_3/notebooks/__init__.py
  tests/dummy_plugins/dummy_plugin_2/configurations/dummy_conf_2-2.yaml
Due: black, flake8

Added method to get notebook folder information
  src/conftest.py
  src/fastoad/cmd/api.py
  src/fastoad/cmd/tests/test_cli.py
  src/fastoad/module_management/_plugins.py
  src/fastoad/module_management/tests/test_plugins.py
  tests/dummy_plugins/dist_3/__init__.py
  tests/dummy_plugins/dist_3/dummy_plugin_5/__init__.py
  tests/dummy_plugins/dist_3/dummy_plugin_5/models/__init__.py
  tests/dummy_plugins/dist_3/dummy_plugin_5/notebooks/__init__.py
Due: black, flake8

Updated CLI subcommand "gen_conf"
  src/conftest.py
  src/fastoad/cmd/api.py
  src/fastoad/cmd/cli.py
  src/fastoad/cmd/exceptions.py
  src/fastoad/cmd/tests/test_cli.py
Due: black, flake8

Updated documentation
  docs/documentation/custom_modules/add_plugin.rst
  docs/documentation/usage.rst
  src/fastoad/configurations/cs25_base.yaml
Due: none

Refactoring
  src/fastoad/cmd/api.py
  src/fastoad/cmd/cli.py
  src/fastoad/cmd/exceptions.py
  src/fastoad/cmd/tests/test_api.py
  src/fastoad/cmd/tests/test_cli.py
  src/fastoad/module_management/_plugins.py
  src/fastoad/module_management/exceptions.py
  src/fastoad/module_management/tests/test_plugins.py
Due: black, flake8

Now handling "no plugin" case in configuration generation.
  src/fastoad/cmd/api.py
  src/fastoad/cmd/exceptions.py
  src/fastoad/cmd/tests/test_api.py
Due: black, flake8

Replaced usage of pkg_resources by importlib.metadata (as it is now advised)
  docs/requirements.txt
  poetry.lock
  pyproject.toml
  src/conftest.py
  src/fastoad/__init__.py
  src/fastoad/module_management/_plugins.py
Due: black, flake8, sync_doc_requirements

Introduced ConfigurationFileInfo class.
  src/fastoad/cmd/api.py
  src/fastoad/cmd/cli.py
  src/fastoad/module_management/_plugins.py
  src/fastoad/module_management/tests/test_plugins.py
Due: black, flake8

Linting
  src/fastoad/_utils/resource_management/contents.py
  src/fastoad/cmd/api.py
  src/fastoad/cmd/cli.py
  src/fastoad/module_management/_plugins.py
Due: black, flake8

Updated command "fastoad notebooks"
  src/conftest.py
  src/fastoad/cmd/cli.py
  src/fastoad/cmd/tests/test_api.py
  src/fastoad/cmd/tests/test_cli.py
  src/fastoad/module_management/_plugins.py
  src/fastoad/module_management/tests/test_plugins.py
  tests/dummy_plugins/dist_1/dummy_plugin_4/notebooks/data/__init__.py
  tests/dummy_plugins/dist_1/dummy_plugin_4/notebooks/data/dummy_file.txt
  tests/dummy_plugins/dist_1/dummy_plugin_4/notebooks/notebook_1.ipynb
  tests/dummy_plugins/dist_3/dummy_plugin_5/notebooks/notebook_2.ipynb
Due: black, flake8

Added class DistributionPluginDefinition
  src/fastoad/module_management/_plugins.py
Due: black, flake8

Added api.generate_notebooks()
  .PyCharmRunConfs/pytest all no-cov.run.xml
  .PyCharmRunConfs/pytest notebooks no-cov.run.xml
  .github/workflows/tests.yml
  src/conftest.py
  src/fastoad/cmd/api.py
  src/fastoad/cmd/cli.py
  src/fastoad/cmd/cli_utils.py
  src/fastoad/cmd/tests/test_api.py
  src/fastoad/cmd/tests/test_cli.py
  src/fastoad/module_management/_plugins.py
  src/fastoad/module_management/tests/test_plugins.py
  tests/dummy_plugins/dist_1/dummy_plugin_1/notebooks/__init__.py
  tests/dummy_plugins/dist_1/dummy_plugin_1/notebooks/notebook_1.ipynb
  tests/dummy_plugins/dist_1/dummy_plugin_4/notebooks/data/dummy_file.txt
Due: black, flake8

Refactoring again
  src/fastoad/cmd/cli.py
  src/fastoad/cmd/tests/test_cli.py
  src/fastoad/module_management/_plugins.py
  src/fastoad/module_management/tests/test_plugins.py
  tests/dummy_plugins/dist_2/dummy_plugin_3/notebooks/__init__.py
Due: black, flake8

Updated documentation of CLI usage
  docs/documentation/usage.rst
Due: none

Changed identifier for fastoad plugins
  pyproject.toml
  src/fastoad/module_management/_plugins.py
Due: black, flake8

Some housekeeping
  src/conftest.py
  src/fastoad/cmd/tests/test_api.py
  src/fastoad/cmd/tests/test_cli.py
  src/fastoad/module_management/tests/test_plugins.py
Due: black, flake8

Updated documentation
  docs/documentation/custom_modules/add_plugin.rst
Due: none

Added api.get_plugin_information()
  src/fastoad/api.py
  src/fastoad/cmd/api.py
  src/fastoad/cmd/cli.py
Due: black, flake8

Updated Codacy settings
  .codacy.yml
Due: none

Moved get_xfoil. Enhanced PackageReader (better check for existence).
  .github/workflows/watchman_tests.yml
  src/conftest.py
  src/fastoad/_utils/resource_management/contents.py
  src/fastoad/models/aerodynamics/external/xfoil/tests/test_xfoil.py
  src/fastoad/models/aerodynamics/tests/test_aerodynamics_landing.py
  src/fastoad/module_management/_bundle_loader.py
  tests/conftest.py
  tests/integration_tests/oad_process/test_oad_process.py
  tests/xfoil_exe/get_xfoil.py
  tests/xfoil_exe/readme.md
Due: black, flake8

Updated sphinx doc.
  docs/documentation/custom_modules/add_plugin.rst
Due: none

Fixed codeclimate settings
  .codeclimate.yml
Due: none

Abstract methods of FlightSegment are now public
  src/fastoad/models/performances/mission/segments/altitude_change.py
  src/fastoad/models/performances/mission/segments/base.py
  src/fastoad/models/performances/mission/segments/cruise.py
  src/fastoad/models/performances/mission/segments/speed_change.py
  src/fastoad/models/performances/mission/segments/taxi.py
  src/fastoad/models/performances/mission/segments/transition.py
Due: black, flake8

get_gamma_and_acceleration now uses a FlightPoint instance as input
  src/fastoad/models/performances/mission/segments/altitude_change.py
  src/fastoad/models/performances/mission/segments/base.py
  src/fastoad/models/performances/mission/segments/speed_change.py
  src/fastoad/models/performances/mission/segments/taxi.py
  src/fastoad/models/performances/mission/segments/transition.py
Due: black, flake8

Engine count is not used anymore by mission model.
  src/fastoad/models/performances/mission/openmdao/mission.py
  src/fastoad/models/performances/mission/openmdao/tests/test_mission.py
  src/fastoad/models/propulsion/fuel_propulsion/rubber_engine/openmdao.py
  src/fastoad/models/propulsion/fuel_propulsion/rubber_engine/tests/test_openmdao_engine.py
Due: black, flake8

Enhanced storage of flight points
  src/fastoad/models/performances/mission/base.py
Due: black, flake8

Reorganized test of segments
  src/fastoad/models/performances/mission/segments/tests/conftest.py
  src/fastoad/models/performances/mission/segments/tests/test_altitude_change.py
  src/fastoad/models/performances/mission/segments/tests/test_cruise.py
  src/fastoad/models/performances/mission/segments/tests/test_hold.py
  src/fastoad/models/performances/mission/segments/tests/test_segments.py
  src/fastoad/models/performances/mission/segments/tests/test_speed_change.py
  src/fastoad/models/performances/mission/segments/tests/test_taxi.py
  src/fastoad/models/performances/mission/segments/tests/test_transition.py
Due: black, flake8

Some changes in mission tests.
  src/fastoad/models/performances/mission/openmdao/tests/test_breguet_mission.py
  src/fastoad/models/performances/mission/openmdao/tests/test_mission.py
Due: black, flake8

Updated unit tests for new initialization strategy
  src/fastoad/io/configuration/tests/test_configuration.py
Due: black, flake8

Updated integration tests for new initialization strategy
  tests/integration_tests/oad_process/test_oad_process.py
Due: black, flake8

Added test for problem with IndepVarComp
  src/fastoad/io/configuration/tests/data/conf_sellar_example/indep.py
  src/fastoad/io/configuration/tests/data/ref_inputs_with_indep.xml
  src/fastoad/io/configuration/tests/data/valid_sellar_with_indep.toml
  src/fastoad/io/configuration/tests/data/valid_sellar_with_indep.yml
  src/fastoad/io/configuration/tests/test_configuration.py
Due: black, flake8

Updated input and output file path for configuration tests
  src/fastoad/io/configuration/tests/data/valid_sellar_with_indep.toml
  src/fastoad/io/configuration/tests/data/valid_sellar_with_indep.yml
Due: none

Corrected typo in doc string
  src/fastoad/io/configuration/configuration.py
Due: black, flake8

Added a TODO for removing get_unconnected_input_names()
  src/fastoad/openmdao/_utils.py
Due: black, flake8

Changed option for file comparison in tests
  src/fastoad/io/configuration/tests/test_configuration.py
Due: black, flake8

Now using from_problem to generate inputs
  src/fastoad/io/configuration/configuration.py
Due: black, flake8

Not using get_unconnected_input_names() anymore
  src/fastoad/io/configuration/configuration.py
Due: black, flake8

Depp copying problem since from_problem seems to modify the instance
  src/fastoad/io/configuration/configuration.py
Due: black, flake8

Changed the strategy for setting inputs initial values
  src/fastoad/cmd/api.py
  src/fastoad/io/configuration/configuration.py
Due: black, flake8

Path conditions:
  black: any of: \.py$
  flake8: any of: \.py$
  sync_doc_requirements: any of: poetry.lock
