Repository fast-aircraft-design/FAST-OAD: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, flake8, sync_doc_requirements

black:
  name: black
  language: system
  entry: black

flake8:
  name: flake8
  language: system
  entry: flake8

sync_doc_requirements:
  name: sync_doc_requirements
  entry: poetry export --dev --without-hashes -o docs/requirements.txt -f requirements.txt
  language: python
  pass_filenames: false

Update CHANGELOG.rst
  CHANGELOG.rst
Due: none

Remove login parameter deprecated with wop 2.0.0
  src/fastoad/openmdao/whatsopt.py
Due: black, flake8

Update wop required version to ^2.2
  pyproject.toml
Due: none

Fix source parameter
  src/fastoad/openmdao/whatsopt.py
Due: black, flake8

Now using `import fastoad.api as oad` in integration tests
  tests/integration_tests/oad_process/test_oad_process.py
Due: black, flake8

now testing plots in integration tests.
  tests/integration_tests/oad_process/test_oad_process.py
Due: black, flake8

Fixed mass breakdown plots.
  src/fastoad/gui/analysis_and_plots.py
  src/fastoad/gui/tests/data/problem_outputs.xml
Due: black, flake8

Updated mission_module.rst.
  docs/documentation/mission_module/mission_module.rst
Due: none

Minor changes to validate tests before pulling last mission-fixes
  src/fastoad/models/performances/mission/segments/tests/conftest.py
  src/fastoad/models/performances/mission/segments/tests/test_takeoff_segments.py
Due: black, flake8

Modified merged code to adapt take-off phases. Integration test need to be checked.
  src/fastoad/model_base/flight_point.py
  src/fastoad/models/performances/mission/mission_definition/mission_builder/mission_builder.py
  src/fastoad/models/performances/mission/mission_definition/mission_builder/structure_builders.py
  src/fastoad/models/performances/mission/mission_definition/schema.py
  src/fastoad/models/performances/mission/openmdao/mission_component.py
  src/fastoad/models/performances/mission/polar.py
  src/fastoad/models/performances/mission/segments/base.py
  src/fastoad/models/performances/mission/segments/end_of_takeoff.py
  src/fastoad/models/performances/mission/segments/ground_speed_change.py
  src/fastoad/models/performances/mission/segments/rotation.py
  src/fastoad/models/performances/mission/tests/test_routes.py
Due: black, flake8

Test OK
  src/fastoad/models/performances/mission/openmdao/tests/data/test_mission_takeoff.yml
  src/fastoad/models/performances/mission/openmdao/tests/test_mission_takeoff.py
  src/fastoad/models/performances/mission/segments/base.py
Due: black, flake8

Fixed typo in sphinx doc.
  docs/documentation/mission_module/extensibility/adding_segments.rst
Due: none

Updated poetry.lock
  docs/requirements.txt
  poetry.lock
Due: sync_doc_requirements

Update docs/documentation/mission_module/extensibility/adding_segments.rst
  docs/documentation/mission_module/extensibility/adding_segments.rst
Due: none

Update docs/documentation/mission_module/mission_file/segments.rst
  docs/documentation/mission_module/mission_file/segments.rst
Due: none

Update docs/documentation/mission_module/mission_file/setting_values.rst
  docs/documentation/mission_module/mission_file/setting_values.rst
Due: none

Added test of MissionComponent with custom segment.
  src/fastoad/models/performances/mission/openmdao/tests/data/test_with_custom_segment.xml
  src/fastoad/models/performances/mission/openmdao/tests/data/test_with_custom_segment.yml
  src/fastoad/models/performances/mission/openmdao/tests/test_with_custom_segment.py
Due: black, flake8

Removed deprecated information about mission start.
  docs/documentation/mission_module/mission_file/mission_file.rst
Due: none

Fixed array variables in mission definition file.
  src/fastoad/models/performances/mission/mission_definition/mission_builder/structure_builders.py
  src/fastoad/models/performances/mission/mission_definition/mission_builder/tests/data/mission.yml
  src/fastoad/models/performances/mission/mission_definition/mission_builder/tests/test_mission_builder.py
Due: black, flake8

Minor fix in doc
  docs/documentation/mission_module/extensibility/adding_segments.rst
Due: none

"routes" section is no more mandatory in mission definition file.
  src/fastoad/models/performances/mission/mission_definition/resources/mission_schema.json
  src/fastoad/models/performances/mission/mission_definition/schema.py
Due: black, flake8

Updated setup-python action to v4
  .github/workflows/build_release.yml
  .github/workflows/tests.yml
  .github/workflows/watchman_tests.yml
Due: none

Changed image extension and added init.py
  src/fastoad/notebooks/02_explanation/01_summary.ipynb
  src/fastoad/notebooks/02_explanation/02_pure_python.ipynb
  src/fastoad/notebooks/02_explanation/04_OpenMDAO.ipynb
  src/fastoad/notebooks/02_explanation/05_FAST-OAD.ipynb
  src/fastoad/notebooks/02_explanation/img/Component.png
  src/fastoad/notebooks/02_explanation/img/Lift_to_drag.png
  src/fastoad/notebooks/02_explanation/img/global_process.png
  src/fastoad/notebooks/02_explanation/img/handy_analogy.png
  src/fastoad/notebooks/02_explanation/img/mass.png
  src/fastoad/notebooks/02_explanation/img/module_architecture.png
  src/fastoad/notebooks/02_explanation/working_folder/MDA_discipline/__init__.py
  src/fastoad/notebooks/02_explanation/working_folder/MDA_global_group/__init__.py
  src/fastoad/notebooks/02_explanation/working_folder/MDO_MTOW/__init__.py
  src/fastoad/notebooks/02_explanation/working_folder/__init__.py
Due: black, flake8

Removed tooltips
  src/fastoad/notebooks/02_explanation/02_pure_python.ipynb
  src/fastoad/notebooks/02_explanation/04_OpenMDAO.ipynb
  src/fastoad/notebooks/02_explanation/05_FAST-OAD.ipynb
Due: none

Added folder path as plain text and various change
  src/fastoad/notebooks/02_explanation/02_pure_python.ipynb
  src/fastoad/notebooks/02_explanation/04_OpenMDAO.ipynb
  src/fastoad/notebooks/02_explanation/05_FAST-OAD.ipynb
Due: none

Update mdo.png
  src/fastoad/notebooks/02_explanation/img/mdo.png
Due: none

Update 04_OpenMDAO.ipynb
  src/fastoad/notebooks/02_explanation/04_OpenMDAO.ipynb
Due: none

Pinned Poetry version to 1.1.15 in Github workflows
  .github/workflows/build_release.yml
  .github/workflows/tests.yml
Due: none

Corrected variable viewer by adding default TAG_ALL
  src/fastoad/gui/variable_viewer.py
Due: black, flake8

Updated minimal dependencies for jupyterlab and ipywidgets
  docs/requirements.txt
  poetry.lock
  pyproject.toml
Due: sync_doc_requirements

Closing last conversations
  src/fastoad/notebooks/02_explanation/02_pure_python.ipynb
  src/fastoad/notebooks/02_explanation/04_OpenMDAO.ipynb
Due: none

Ran black
  src/fastoad/notebooks/02_explanation/working_folder/MDA_discipline/__init__.py
  src/fastoad/notebooks/02_explanation/working_folder/MDA_global_group/__init__.py
  src/fastoad/notebooks/02_explanation/working_folder/MDO_MTOW/__init__.py
  src/fastoad/notebooks/02_explanation/working_folder/__init__.py
Due: black, flake8

Removed unnecessary print
  src/fastoad/gui/variable_viewer.py
Due: black, flake8

Less verbose insertion of TAG_ALL
  src/fastoad/gui/variable_viewer.py
Due: black, flake8

Remove unnessary case for path filtering
  src/fastoad/gui/variable_viewer.py
Due: black, flake8

Fixed broken links
  src/fastoad/notebooks/02_explanation/05_FAST-OAD.ipynb
Due: none

Changed the name of the first directory
  src/fastoad/notebooks/01_Quick_start/__init__.py
  src/fastoad/notebooks/01_Quick_start/beam_problem.ipynb
  src/fastoad/notebooks/01_Quick_start/data/__init__.py
  src/fastoad/notebooks/01_Quick_start/data/beam_problem.yml
  src/fastoad/notebooks/01_Quick_start/data/beam_problem_stress.yml
  src/fastoad/notebooks/01_Quick_start/data/problem_inputs.xml
  src/fastoad/notebooks/01_Quick_start/data/problem_inputs_stress.xml
  src/fastoad/notebooks/01_Quick_start/img/__init__.py
  src/fastoad/notebooks/01_Quick_start/img/logo-ISAE_SUPAERO.png
  src/fastoad/notebooks/01_Quick_start/img/logo-onera.png
  src/fastoad/notebooks/01_Quick_start/img/problem_description.png
  src/fastoad/notebooks/01_Quick_start/img/stress_config.gif
  src/fastoad/notebooks/01_Quick_start/modules/__init__.py
  src/fastoad/notebooks/01_Quick_start/modules/displacements.py
  src/fastoad/notebooks/01_Quick_start/modules/section_properties.py
  src/fastoad/notebooks/01_Quick_start/modules/stresses.py
  src/fastoad/notebooks/01_Quick_start/modules/variable_descriptions.txt
  src/fastoad/notebooks/01_Quick_start/modules/weight.py
  src/fastoad/notebooks/README.md
Due: black, flake8

Path conditions:
  black: any of: \.py$
  flake8: any of: \.py$
  sync_doc_requirements: any of: poetry.lock
