Repository fast-aircraft-design/FAST-OAD: changes, and which pre-commit hooks are due for each by the changed paths.
All: nbstripout, license-headers-fix

nbstripout:
  name: nbstripout
  description: 'nbstripout: strip output from Jupyter and IPython notebooks'
  entry: poetry run nbstripout
  language: system
  require_serial: true

license-headers-fix:
  name: License headers (auto-fix)
  entry: python devutils/license-upgrade.py
  language: python
  additional_dependencies:
  - git+https://github.com/Lucas-C/pre-commit-hooks.git@v1.5.5
  require_serial: true

added KeyError in FASTConfigurationBadOpenMDAOInstructionError in om eval
  src/fastoad/io/configuration/configuration.py
Due: license-headers-fix

Ruff dependency update
  poetry.lock
  pyproject.toml
  ruff.toml
  src/fastoad/gui/variable_viewer.py
Due: license-headers-fix

linted origin/master, ready to merge in master
  poetry.lock
  src/fastoad/gui/analysis_and_plots.py
  src/fastoad/module_management/_bundle_loader.py
  src/fastoad/openmdao/tests/test_variables.py
  src/fastoad/openmdao/variables/variable.py
Due: license-headers-fix

wip
  poetry.lock
  pyproject.toml
  src/fastoad/gui/tests/test_notebook.ipynb
Due: nbstripout

take into account review comments
  .github/workflows/tests.yml
  pyproject.toml
  tests/memory_tests/test_multiple_runs.py
Due: license-headers-fix

upgrade caching logic
  .github/workflows/tests.yml
Due: none

fix tests according to review
  tests/memory_tests/test_multiple_runs.py
Due: license-headers-fix

linting master before merge
  poetry.lock
  src/fastoad/models/performances/mission/mission_definition/mission_builder/input_definition.py
  tests/memory_tests/test_multiple_runs.py
Due: license-headers-fix

deprecate 3.9
  poetry.lock
  pyproject.toml
Due: none

upgrade ruff min version for pyupgrade
  ruff.toml
Due: none

upgrade tests
  .github/workflows/tests.yml
  docs/requirements.txt
Due: none

comply with new pyupgrade rules
  README.md
  src/conftest.py
  src/fastoad/__init__.py
  src/fastoad/_utils/pandas.py
  src/fastoad/cmd/cli_utils.py
  src/fastoad/models/performances/mission/openmdao/mission_wrapper.py
  src/fastoad/module_management/_plugins.py
Due: license-headers-fix

removes some of from future import annotations
  src/conftest.py
  src/fastoad/_utils/files.py
  src/fastoad/_utils/pandas.py
  src/fastoad/_utils/resource_management/contents.py
  src/fastoad/_utils/resource_management/copy.py
  src/fastoad/cmd/api.py
  src/fastoad/cmd/calc_runner.py
  src/fastoad/cmd/cli_utils.py
  src/fastoad/gui/analysis_and_plots.py
  src/fastoad/gui/mission_viewer.py
  src/fastoad/gui/optimization_viewer.py
  src/fastoad/gui/variable_viewer.py
  src/fastoad/io/formatter.py
  src/fastoad/io/variable_io.py
  src/fastoad/io/xml/variable_io_base.py
  src/fastoad/io/xml/variable_io_standard.py
  src/fastoad/model_base/atmosphere.py
  src/fastoad/model_base/openmdao/group.py
  src/fastoad/model_base/propulsion.py
  src/fastoad/models/performances/mission/base.py
  src/fastoad/models/performances/mission/mission.py
  src/fastoad/models/performances/mission/mission_definition/mission_builder/mission_builder.py
  src/fastoad/models/performances/mission/mission_definition/schema.py
  src/fastoad/models/performances/mission/openmdao/base.py
  src/fastoad/models/performances/mission/openmdao/mission_run.py
  src/fastoad/models/performances/mission/openmdao/mission_wrapper.py
  src/fastoad/models/performances/mission/routes.py
  src/fastoad/models/performances/mission/segments/base.py
  src/fastoad/models/performances/mission/segments/registered/altitude_change.py
  src/fastoad/models/performances/mission/segments/time_step_base.py
  src/fastoad/module_management/_bundle_loader.py
  src/fastoad/module_management/_plugins.py
  src/fastoad/module_management/service_registry.py
  src/fastoad/openmdao/problem.py
  src/fastoad/openmdao/whatsopt.py
Due: license-headers-fix

simplify dependencies
  poetry.lock
  pyproject.toml
Due: none

address review
  src/fastoad/openmdao/problem.py
Due: license-headers-fix

update toml and tests
  .github/workflows/tests.yml
  .github/workflows/watchman_tests.yml
  docs/requirements.txt
  poetry.lock
  pyproject.toml
Due: none

update cs25 version, add the new load discipline, update tests accordingly
  poetry.lock
  pyproject.toml
  tests/integration_tests/oad_process/data/CeRAS01_legacy.xml
  tests/integration_tests/oad_process/data/CeRAS01_legacy_breguet_result.xml
  tests/integration_tests/oad_process/data/CeRAS01_legacy_mission_result.xml
  tests/integration_tests/oad_process/data/oad_process.yml
  tests/integration_tests/oad_process/data/oad_process_breguet.yml
  tests/memory_tests/data/CeRAS01.xml
Due: none

updated version to 3.40
  docs/requirements.txt
  poetry.lock
  pyproject.toml
Due: none

cleaned up mess inserted to be compatible with older openmdao versions
  docs/requirements.txt
  poetry.lock
  pyproject.toml
  src/fastoad/openmdao/tests/test_problem.py
  src/fastoad/openmdao/variables/_util.py
Due: license-headers-fix

simplify dependencies of the project
  poetry.lock
  pyproject.toml
  src/fastoad/_utils/pandas.py
  src/fastoad/gui/variable_viewer.py
Due: license-headers-fix

corrected ft m conversion in integration tests
  tests/integration_tests/oad_process/data/CeRAS01_legacy.xml
  tests/integration_tests/oad_process/data/CeRAS01_legacy_breguet_result.xml
  tests/integration_tests/oad_process/data/CeRAS01_legacy_mission_result.xml
  tests/memory_tests/data/CeRAS01.xml
Due: none

updated copyright of xml inputs
  tests/integration_tests/oad_process/data/CeRAS01_legacy.xml
  tests/integration_tests/oad_process/data/CeRAS01_legacy_breguet_result.xml
  tests/integration_tests/oad_process/data/CeRAS01_legacy_mission_only_result.xml
  tests/integration_tests/oad_process/data/CeRAS01_legacy_mission_result.xml
  tests/integration_tests/oad_process/data/CeRAS01_notebooks.xml
  tests/memory_tests/data/CeRAS01.xml
Due: none

rerun cs25 models
  tests/integration_tests/oad_process/data/CeRAS01_legacy.xml
  tests/integration_tests/oad_process/data/CeRAS01_legacy_breguet_result.xml
  tests/integration_tests/oad_process/data/CeRAS01_legacy_mission_only_result.xml
  tests/integration_tests/oad_process/data/CeRAS01_legacy_mission_result.xml
  tests/integration_tests/oad_process/data/CeRAS01_notebooks.xml
Due: none

re added missing options
  tests/integration_tests/oad_process/data/oad_process.yml
  tests/integration_tests/oad_process/data/oad_process_breguet.yml
Due: none

updatet notebook and mission only files
  tests/integration_tests/oad_process/data/CeRAS01_notebooks.xml
  tests/integration_tests/oad_process/data/oad_process_mission_only.yml
Due: none

update tests to use the organization variable POETRY_VERSION
  .github/workflows/build_release.yml
  .github/workflows/tests.yml
Due: none

update actions/github-script
  .github/workflows/build_release.yml
Due: none

update pre-commit
  .pre-commit-config.yaml
Due: none

updated actions/checkout
  .github/workflows/build_release.yml
  .github/workflows/tests.yml
  .github/workflows/watchman_tests.yml
Due: none

update lock file
  docs/requirements.txt
  poetry.lock
Due: none

the clmib before the cruise now has the cruise phase name
  src/fastoad/models/performances/mission/segments/registered/cruise.py
Due: license-headers-fix

Improved test logic. Correct typos
  src/fastoad/models/performances/mission/segments/registered/cruise.py
  src/fastoad/models/performances/mission/segments/registered/tests/test_cruise.py
Due: license-headers-fix

now altitude_change takes into account maximum CL
  src/fastoad/models/performances/mission/segments/registered/altitude_change.py
Due: license-headers-fix

Fix Codacy complaining and previous tests
  src/fastoad/models/performances/mission/openmdao/tests/test_mission.py
  src/fastoad/models/performances/mission/segments/registered/cruise.py
Due: license-headers-fix

Added initial, final and average altitude for cruise segment as mission outputs
  src/fastoad/models/performances/mission/openmdao/mission_wrapper.py
  src/fastoad/models/performances/mission/openmdao/tests/test_mission.py
Due: license-headers-fix

bug fix
  src/fastoad/models/performances/mission/segments/registered/cruise.py
Due: license-headers-fix

some typos
  src/fastoad/models/performances/mission/segments/time_step_base.py
Due: license-headers-fix

Now maximum CL limitation is also effective for cruise segment with optimal_flight_level option for altitude.
  src/fastoad/models/performances/mission/segments/registered/cruise.py
  src/fastoad/models/performances/mission/segments/registered/tests/test_cruise.py
Due: license-headers-fix

the clmib before the cruise now has the cruise phase name and prepended_climb
  src/fastoad/models/performances/mission/segments/registered/cruise.py
Due: license-headers-fix

Path conditions:
  nbstripout: any of: \.ipynb$
  license-headers-fix: any of: ^(src|tests)/.*\.py$
