Repository fast-aircraft-design/FAST-OAD: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, flake8, sync_doc_requirements

black:
  name: black
  language: system
  entry: black

flake8:
  name: flake8
  language: system
  entry: flake8

sync_doc_requirements:
  name: sync_doc_requirements
  entry: poetry export --dev --without-hashes -o docs/requirements.txt -f requirements.txt
  language: python
  pass_filenames: false

Reassessment of minimum versions of user dependencies.
  docs/requirements.txt
  poetry.lock
  pyproject.toml
Due: sync_doc_requirements

Updated jupyterlab required version to 3.0.18+. Jupyterlab is no more an extra.
  binder/postBuild
  binder/requirements.txt
  docs/requirements.txt
  poetry.lock
  pyproject.toml
Due: sync_doc_requirements

Now using ipysheet 0.5+ and ipywidgets 7.5+
  docs/requirements.txt
  poetry.lock
  pyproject.toml
Due: sync_doc_requirements

Now using plotly 5.x
  docs/requirements.txt
  poetry.lock
  pyproject.toml
Due: sync_doc_requirements

Now allowing jsonschema 4.x
  poetry.lock
  pyproject.toml
Due: sync_doc_requirements

Fixed lock file for Python 3.9
  docs/requirements.txt
  poetry.lock
Due: sync_doc_requirements

Now matplotlib is declared as dev dependency.
  docs/requirements.txt
  poetry.lock
  pyproject.toml
  src/fastoad/models/performances/mission/openmdao/tests/test_mission.py
  src/fastoad/models/performances/mission/tests/test_routes.py
Due: black, flake8, sync_doc_requirements

Removed dependency to matplotlib
  docs/requirements.txt
  poetry.lock
  pyproject.toml
  src/fastoad/models/geometry/profiles/tests/test_profile.py
  src/fastoad/models/performances/mission/openmdao/tests/test_mission.py
  src/fastoad/models/performances/mission/tests/test_routes.py
Due: black, flake8, sync_doc_requirements

Update lock file
  docs/requirements.txt
  poetry.lock
  pyproject.toml
Due: sync_doc_requirements

Added conf file as argument in CLI
  src/fastoad/cmd/fast.py
Due: black, flake8

Updated Changelog for 111 release
  CHANGELOG.rst
Due: none

Made CLI compatible with list_modules when a single argument is provided
  src/fastoad/cmd/fast.py
Due: black, flake8

Update CHANGELOG.rst
  CHANGELOG.rst
Due: none

Update README.md
  README.md
Due: none

Added checks about engine settings
  src/fastoad/models/performances/mission/segments/tests/test_segments.py
Due: black, flake8

Fixed engine setting in ClimbAndCruiseSegment
  src/fastoad/models/performances/mission/segments/base.py
  src/fastoad/models/performances/mission/segments/cruise.py
  tests/integration_tests/oad_process/test_oad_process.py
Due: black, flake8

Updated change log
  CHANGELOG.rst
Due: none

Now using stdatm package
  docs/requirements.txt
  poetry.lock
  pyproject.toml
  src/fastoad/model_base/atmosphere.py
  src/fastoad/models/aerodynamics/aerodynamics_landing.py
  src/fastoad/models/aerodynamics/components/compute_reynolds.py
  src/fastoad/models/aerodynamics/components/tests/test_components.py
  src/fastoad/models/handling_qualities/tail_sizing/compute_ht_area.py
  src/fastoad/models/performances/mission/segments/altitude_change.py
  src/fastoad/models/performances/mission/segments/base.py
  src/fastoad/models/propulsion/fuel_propulsion/rubber_engine/constants.py
  src/fastoad/models/propulsion/fuel_propulsion/rubber_engine/rubber_engine.py
  src/fastoad/models/propulsion/fuel_propulsion/rubber_engine/tests/test_rubber_engine.py
  src/fastoad/models/weight/mass_breakdown/cs25.py
Due: black, flake8, sync_doc_requirements

Added variable_descriptions.txt format as option for list_variables()
  src/fastoad/cmd/api.py
Due: black, flake8

Updated test for list_variables()
  src/fastoad/cmd/tests/data/ref_list_variables_with_variable_descriptions_format.txt
  src/fastoad/cmd/tests/test_api.py
Due: black, flake8

Removed useless possibility to read file in list_variables()
  src/fastoad/cmd/api.py
Due: black, flake8

Corrected doc string of list_variables()
  src/fastoad/cmd/api.py
Due: black, flake8

Using new option name for list_variables() with variable_description.txt format
  src/fastoad/cmd/api.py
  src/fastoad/cmd/tests/test_api.py
Due: black, flake8

Added new option to CLI
  src/fastoad/cmd/fast.py
Due: black, flake8

Refactoring of list_variables with private methods
  src/fastoad/cmd/api.py
Due: black, flake8

Better usage of pd.to_csv()
  src/fastoad/cmd/api.py
Due: black, flake8

Corrected CLI
  src/fastoad/cmd/fast.py
Due: black, flake8

Changed awkward comment
  src/fastoad/cmd/api.py
Due: black, flake8

Removed specific formatting for terminal output in list_variables()
  src/fastoad/cmd/api.py
Due: black, flake8

Modification struct nodes
  src/fastoad/models/aerostructure/mesh/nodes/structure_nodes_wing.py
Due: black, flake8

Use pyNastran for bdf generation.
  docs/requirements.txt
  poetry.lock
  pyproject.toml
  src/fastoad/models/aerostructure/structure/external/mystran/tests/data/mystran_inputs.xml
  src/fastoad/models/aerostructure/structure/external/mystran/tests/test_mystran.py
Due: black, flake8, sync_doc_requirements

Update mystran component to use pyNastran.
  src/fastoad/models/aerostructure/structure/external/mystran/mystran_static.py
Due: black, flake8

linting
  src/fastoad/models/aerostructure/structure/external/mystran/mystran_static.py
Due: black, flake8

Correction of Mystran tests input file
  src/fastoad/models/aerostructure/structure/external/mystran/tests/data/mystran_inputs.xml
Due: none

Minor fix in documentation
  docs/documentation/custom_modules/add_submodels.rst
Due: none

Upgrade dependency to wop 1.20
  docs/requirements.txt
  poetry.lock
  pyproject.toml
Due: sync_doc_requirements

Fixed dependency to Plotly
  poetry.lock
  pyproject.toml
Due: sync_doc_requirements

Informative message after fast-oad notebooks now advises jupyter lab.
  src/fastoad/cmd/fast.py
  src/fastoad/openmdao/variables.py
Due: black, flake8

Now using Deprecated module.
  docs/requirements.txt
  poetry.lock
  pyproject.toml
  src/fastoad/model_base/atmosphere.py
Due: black, flake8, sync_doc_requirements

Path conditions:
  black: any of: \.py$
  flake8: any of: \.py$
  sync_doc_requirements: any of: poetry.lock
