Repository fast-aircraft-design/FAST-OAD: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, flake8, sync_doc_requirements

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:

      - id: black
        name: black
        language: system
        entry: black
        types: [ python ]

      - id: flake8
        name: flake8
        language: system
        entry: flake8
        types: [ python ]

      - id: sync_doc_requirements
        name: sync_doc_requirements
        entry: poetry export --dev --without-hashes -o docs/requirements.txt -f requirements.txt
        language: python
        pass_filenames: false
        files: 'poetry.lock'

Now properly handling when no conf file is in declared plugins.
  src/conftest.py
  src/fastoad/cmd/cli.py
  src/fastoad/module_management/_plugins.py
  src/fastoad/module_management/exceptions.py
  src/fastoad/module_management/tests/test_plugins.py
Due: black, flake8

New settings for cache in workflows
  .github/workflows/tests.yml
Due: none

Minor simplification of VariableList.from_problem()
  src/fastoad/openmdao/variables/variable_list.py
Due: black, flake8

Temporarily using master of OpenMDAO
  docs/requirements.txt
  poetry.lock
  pyproject.toml
Due: sync_doc_requirements

Now .from_problem() can be called before setup
  src/fastoad/openmdao/tests/test_variables.py
  src/fastoad/openmdao/variables/variable_list.py
Due: black, flake8

Now Variable and VariableList are in 2 separate files.
  src/fastoad/openmdao/variables/__init__.py
  src/fastoad/openmdao/variables/variable.py
  src/fastoad/openmdao/variables/variable_list.py
Due: black, flake8

Now using FASTOADProblem.read_inputs() before setup creates an IVC.
  src/fastoad/openmdao/problem.py
  src/fastoad/openmdao/tests/openmdao_sellar_example/sellar.py
  src/fastoad/openmdao/tests/test_problem.py
  src/fastoad/openmdao/tests/test_utils.py
Due: black, flake8

Minor code factorization.
  src/fastoad/openmdao/variables/variable_list.py
Due: black, flake8

Handling dynamically shaped inputs.
  src/fastoad/io/configuration/configuration.py
  src/fastoad/openmdao/exceptions.py
  src/fastoad/openmdao/problem.py
  src/fastoad/openmdao/tests/data/dynamic_shape_inputs_1.xml
  src/fastoad/openmdao/tests/test_problem.py
Due: black, flake8

Refactoring of VariableList.from_problem()
  src/fastoad/openmdao/variables/variable_list.py
Due: black, flake8

Moved FASTOADModel class in problem.py
  src/fastoad/io/configuration/configuration.py
  src/fastoad/openmdao/problem.py
Due: black, flake8

Removed usage of POLAR_POINT_COUNT in mission_wrapper.py
  src/fastoad/models/performances/mission/openmdao/mission_wrapper.py
  tests/integration_tests/oad_process/data/CeRAS01_legacy_mission_result.xml
  tests/integration_tests/oad_process/data/oad_process_mission_only.yml
Due: black, flake8

Dynamic shapes are now detected using the OpenMDAO RuntimeError.
  src/fastoad/openmdao/problem.py
  src/fastoad/openmdao/tests/test_problem.py
Due: black, flake8

Removed unused exception.
  src/fastoad/openmdao/exceptions.py
Due: black, flake8

Added comment
  src/fastoad/openmdao/problem.py
Due: black, flake8

Revert "Temporarily using master of OpenMDAO"
  docs/requirements.txt
  poetry.lock
  pyproject.toml
Due: sync_doc_requirements

Dynamically shaped, non connected inputs are now allowed even with OpenMDAO<=3.16
  src/fastoad/openmdao/problem.py
Due: black, flake8

Added deprecation warning when custom get_io_metadata is used.
  src/fastoad/openmdao/problem.py
Due: black, flake8

Removed test_breguet_mission.py
  src/fastoad/models/performances/mission/openmdao/tests/test_breguet_mission.py
Due: black, flake8

Remove usage of rubber engine in test_routes.py
  src/fastoad/models/performances/mission/tests/test_routes.py
Due: black, flake8

Removed CS25-based integration tests.
  src/fastoad/io/configuration/configuration.py
  tests/integration_tests/oad_process/data/CeRAS01_legacy.xml
  tests/integration_tests/oad_process/data/CeRAS01_legacy_breguet_result.xml
  tests/integration_tests/oad_process/data/CeRAS01_legacy_mission_result.xml
  tests/integration_tests/oad_process/data/non_regression_mission_only/oad_process_mission_only.yml
  tests/integration_tests/oad_process/data/non_regression_mission_only/results.xml
  tests/integration_tests/oad_process/data/oad_process.yml
  tests/integration_tests/oad_process/data/oad_process_breguet.yml
  tests/integration_tests/oad_process/data/oad_process_mission.yml
  tests/integration_tests/oad_process/test_oad_process.py
Due: black, flake8

Adapted variable_descriptions.txt.
  src/fastoad/models/variable_descriptions.txt
Due: none

Added dependency to FAST-OAD-CS25
  docs/requirements.txt
  poetry.lock
  pyproject.toml
Due: sync_doc_requirements

Removed xfoil-related fixture
  src/conftest.py
Due: black, flake8

Updated notebook
  src/fastoad/notebooks/01_custom_modules/__init__.py
  src/fastoad/notebooks/01_custom_modules/beam_problem.ipynb
  src/fastoad/notebooks/01_custom_modules/data/__init__.py
  src/fastoad/notebooks/01_custom_modules/data/beam_problem.yml
  src/fastoad/notebooks/01_custom_modules/data/beam_problem_stress.yml
  src/fastoad/notebooks/01_custom_modules/data/problem_inputs.xml
  src/fastoad/notebooks/01_custom_modules/data/problem_inputs_stress.xml
  src/fastoad/notebooks/01_custom_modules/img/__init__.py
  src/fastoad/notebooks/01_custom_modules/img/logo-ISAE_SUPAERO.png
  src/fastoad/notebooks/01_custom_modules/img/logo-onera.png
  src/fastoad/notebooks/01_custom_modules/img/problem_description.png
  src/fastoad/notebooks/01_custom_modules/img/stress_config.gif
  src/fastoad/notebooks/01_custom_modules/modules/__init__.py
  src/fastoad/notebooks/01_custom_modules/modules/displacements.py
  src/fastoad/notebooks/01_custom_modules/modules/section_properties.py
  src/fastoad/notebooks/01_custom_modules/modules/stresses.py
  src/fastoad/notebooks/01_custom_modules/modules/variable_descriptions.txt
  src/fastoad/notebooks/01_custom_modules/modules/weight.py
Due: black, flake8

Updated refs.bib
  docs/refs.bib
Due: none

Updated generate_configuration_file()
  src/conftest.py
  src/fastoad/cmd/api.py
  src/fastoad/cmd/tests/test_api.py
Due: black, flake8

Updated pyproject.toml
  pyproject.toml
Due: none

Put back integration tests
  src/conftest.py
  src/fastoad/io/configuration/configuration.py
  tests/conftest.py
  tests/integration_tests/oad_process/data/CeRAS01_legacy.xml
  tests/integration_tests/oad_process/data/CeRAS01_legacy_breguet_result.xml
  tests/integration_tests/oad_process/data/CeRAS01_legacy_mission_only_result.xml
  tests/integration_tests/oad_process/data/CeRAS01_legacy_mission_result.xml
  tests/integration_tests/oad_process/data/CeRAS01_notebooks.xml
  tests/integration_tests/oad_process/data/oad_process.yml
  tests/integration_tests/oad_process/data/oad_process_breguet.yml
  tests/integration_tests/oad_process/data/oad_process_mission.yml
  tests/integration_tests/oad_process/data/oad_process_mission_only.yml
  tests/integration_tests/oad_process/test_oad_process.py
  tests/xfoil_exe/.gitignore
  tests/xfoil_exe/readme.md
Due: black, flake8

Updates in github workflows
  .github/workflows/build_for_Binder.yml
  .github/workflows/build_release.yml
  .github/workflows/watchman_tests.yml
Due: none

Updated build/publish workflow so that it publishes FAST-OAD-core.
  .github/workflows/build_release.yml
Due: none

Added deprecation of `fastoad_model` plugin ID.
  src/fastoad/module_management/_plugins.py
Due: black, flake8

Updated CHANGELOG.rst
  CHANGELOG.rst
Due: none

Updated README.md
  README.md
  pyproject.toml
Due: none

Updated GitHub workflows
  .github/workflows/build_for_Binder.yml
  .github/workflows/build_release.yml
Due: none

Now PyPI fast-oad package is the assembly of fast-oad-core and fast-oad-cs25
  CHANGELOG.rst
  release/README.md
  release/_fastoad/__init__.py
  release/pyproject.toml
Due: black, flake8

Updated workflows
  .github/workflows/build_for_Binder.yml
  .github/workflows/build_release.yml
  .github/workflows/tests.yml
  docs/requirements.txt
  poetry.lock
  pyproject.toml
  release/README.md
  src/conftest.py
Due: black, flake8, sync_doc_requirements

version of StdAtm was unwillingly pinned to 0.1
  poetry.lock
  pyproject.toml
Due: sync_doc_requirements
