Repository fast-aircraft-design/FAST-OAD: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, flake8, sync_doc_requirements, nbstripout

black:
  name: black
  language: system
  entry: poetry run black

flake8:
  name: flake8
  language: system
  entry: poetry run flake8

sync_doc_requirements:
  name: sync_doc_requirements
  entry: poetry export --with doc --without-hashes -o docs/requirements.txt -f requirements.txt
  language: system
  pass_filenames: false

nbstripout:
  name: nbstripout
  description: 'nbstripout: strip output from Jupyter and IPython notebooks'
  entry: nbstripout
  language: system

changed test folder
  src/fastoad/io/tests/test_data_file.py
  src/fastoad/openmdao/tests/test_variables.py
Due: black, flake8

updated function to be more generic
  src/fastoad/io/tests/data/test_data_file/dummy_data_file_with_units.xml
  src/fastoad/openmdao/variables/variable.py
Due: black, flake8

making the function more robust
  src/fastoad/io/tests/test_data_file.py
  src/fastoad/openmdao/tests/test_variables.py
  src/fastoad/openmdao/variables/variable.py
Due: black, flake8

enanched test clarity
  src/fastoad/openmdao/tests/test_variables.py
Due: black, flake8

Updated CHANGELOG.rst
  CHANGELOG.rst
Due: none

Removed the is_output field of FlightPoint
  CHANGELOG.rst
  src/fastoad/model_base/flight_point.py
  src/fastoad/model_base/tests/test_flight_point.py
Due: black, flake8

Now only the 3 main flight point fields are output by default WIP
  src/fastoad/models/performances/mission/openmdao/mission_wrapper.py
Due: black, flake8

Now only the 3 main flight point fields are output by default
  src/fastoad/model_base/flight_point.py
  src/fastoad/models/performances/mission/openmdao/mission_wrapper.py
Due: black, flake8

Added XML outputs for mission variables
  src/fastoad/models/performances/mission/openmdao/mission_wrapper.py
Due: black, flake8

Refactored VariableList
  src/fastoad/openmdao/tests/test_problem.py
  src/fastoad/openmdao/variables/variable_list.py
Due: black, flake8

chunksize set to 1 in CalcRunner.run_cases()
  src/fastoad/cmd/calc_runner.py
Due: black, flake8

Minor changes in pyproject.toml (mainly comments)
  .github/workflows/tests.yml
  poetry.lock
  pyproject.toml
Due: sync_doc_requirements

Added compatibility with Python 3.12 in project configuration.
  docs/requirements.txt
  poetry.lock
  pyproject.toml
Due: sync_doc_requirements

Removed unneeded dependency specs
  poetry.lock
  pyproject.toml
Due: sync_doc_requirements

Updated workflows
  .github/workflows/tests.yml
  .github/workflows/watchman_tests.yml
Due: none

Fixed dependencies for notebooks
  docs/requirements.txt
  poetry.lock
  pyproject.toml
Due: sync_doc_requirements

Removed support for Python 3.8
  .github/workflows/tests.yml
  docs/requirements.txt
  poetry.lock
  pyproject.toml
  src/fastoad/_utils/resource_management/contents.py
  src/fastoad/module_management/_plugins.py
Due: black, flake8, sync_doc_requirements

Removed usage of deprecated Resource type
  src/fastoad/_utils/resource_management/contents.py
  src/fastoad/_utils/resource_management/copy.py
Due: black, flake8

Removed duplicate copyright
  src/fastoad/io/configuration/tests/test_configuration.py
Due: black, flake8

Updated Ruff
  poetry.lock
  pyproject.toml
Due: sync_doc_requirements

Updated to correct CS25 version
  poetry.lock
Due: sync_doc_requirements

Back to official CS25 version
  poetry.lock
  pyproject.toml
Due: sync_doc_requirements

Fixed tests
  src/fastoad/models/performances/mission/mission_definition/mission_builder/input_definition.py
  tests/integration_tests/oad_process/test_oad_process.py
Due: black, flake8

Compatibility with Python 3.13
  poetry.lock
  pyproject.toml
Due: sync_doc_requirements

WIP
  src/fastoad/gui/analysis_and_plots.py
Due: black, flake8

fix axis name
  src/fastoad/gui/analysis_and_plots.py
Due: black, flake8

update
  src/fastoad/gui/analysis_and_plots.py
Due: black, flake8

fix
  src/fastoad/gui/analysis_and_plots.py
Due: black, flake8

upd
  src/fastoad/gui/analysis_and_plots.py
Due: black, flake8

_add_default_taxi_takeoff() is now deprecated.
  src/fastoad/models/performances/mission/mission_definition/mission_builder/mission_builder.py
Due: black, flake8

Minor change
  src/fastoad/models/performances/mission/openmdao/resources/sizing_mission.yml
Due: none

Updated docs/requirements.txt
  docs/requirements.txt
Due: none

Path conditions:
  black: any of: \.py$
  flake8: any of: \.py$
  sync_doc_requirements: any of: poetry.lock
  nbstripout: any of: \.ipynb$
